[2015-02-22 14:37] tomtau opened #1 "Annotate your modules with Haddock headers"
This is a task for everyone, so do it and reassign this task to the person below you alphabetically.

https://wiki.haskell.org/Programming_guidelines#File_Format

[code]

[2015-02-22 14:37] tomtau opened #2 "Please let `make test` run again"
Seems some changes happening in the parser part, which cripple `make test` again. Could we agree that every time we push to the repo, at least pass all the tests?

[2015-02-22 14:37] tomtau opened #3 "Sequence of record fields shouldn't matter"
[code]

[2015-02-22 14:37] tomtau opened #4 "Some methods with no variable arguments may offend JVM?"
[code]
This is the minimal program where JVM complains with this pattern.

The SystemF pretty printer gives
[code]
But the closureF gives

[code]

Jeremy has started working on it.

[2015-02-22 14:37] tomtau opened #5 "Parse error with "." in parser"
As we discussed in the seminar talk, the following code gives parse error.

[code]

By Weixin's comment in issue #184, it is

[code]
that causes the error, which uses
[code]
to parse the code. The parentheses imply an Expr inside, not a Type.

Probably we need curly braces to distinguish Type from Expr.

George please take a look at it. This one should have higher priority than issue #184. Current

[2015-02-22 14:37] tomtau opened #6 "Annotate your modules with Haddock headers"
This is a task for everyone, so do it and reassign this task to the person below you alphabetically.
https://wiki.haskell.org/Programming_guidelines#File_Format

[code]

[2015-02-22 14:37] tomtau opened #7 "More flexible record syntax"
Allow patterns to appear on the left-hand side of the equal sign.

[2015-02-22 14:37] tomtau opened #8 "Is `make test` faking the result?"
I am confirmed when running the following `tailfact` example

[code]

like `f2j -r tail_fact.sf -m apply -m stack`  in the `refactor-base` branch will give you an exception, but `make test` says everything is fine.

Could this have something to do with Emma's recent work of making `make test` faster?

[2015-02-22 14:37] tomtau opened #9 "Weird substitution problem v2"
There is an example that should typecheck. See the code below:
[code]
Whereas f2j gives the "type mismatch" message:

[code]
Everything is OK if the user tries to avoid such overlapping in source file. But that should be a bug in TypeCheck, and probably similar to the previous substitution problem.

[2015-02-22 14:38] tomtau opened #10 "Make peval smart enough to detect redundant ids"
`Simplify` adds redundant ids to every argument in the function application. As I can see, according to the type, it translates to some recursively structured identity function. The translation scheme can be described by the following recursive function `[ ]`:

[code]

Here is an example:

If we have
[code]

After simplification
[code]
---
If we have
[code]

After simplification
[code]

After peva

[2015-02-22 14:38] tomtau opened #11 "One example to cripple the frontend"
As @xieningning points out, the following example should be a valid program:

[code]

However, I am confirmed that in develop branch, the above program crashed somewhere in the frontend, resulting the notorious `segmentation fault`.

[2015-02-22 14:38] tomtau opened #12 "problems with pretty printer"
Output like this

[code]

is not pretty. Brackets are still necessary in the above example:

[code]

[2015-02-22 14:38] tomtau opened #13 "Proper dealing with Void statements"
(Create a Unit type -- should be there) and map to it

[2015-02-22 14:38] tomtau opened #14 "Make the simplifier work correctly with the backend"
For months now we have been commenting out the simplifier in some cases to avoid issues in the backend.

While that's a momentary workaround, what really needs to be done is to make sure that the backend can process the code after simplification.

[2015-02-22 14:38] tomtau opened #15 "The fractals example is not working in develop branch?"
The fractals failed to display and cause stack overflow in examples/fractals or use f2j/f2ji to compile and run fractals directly with compilation option stack and apply.

[2015-02-22 14:38] tomtau opened #16 "make test2 stops after regarding `.` as a file"
The below should be self-explanatory.

[code]

And `make test2` stops there.

[2015-02-22 14:38] tomtau opened #17 "New unboxing approach"
The goal is to try the new unboxing approach. Simply put, incorporate all types (primitive types and references type into one closure class. See the code below:

[code]

Here, the class `Closure` has multiple input and output fields, one for each type. The steps are the followings:

1. Write an example (factorial?) using this approach by hand, and test it to see if it's ok.
2. Formalize the idea.

[2015-02-22 14:38] tomtau opened #18 "f2ji accidently removes source files"
As a user of f2ji, I found that if you `:run` some source code that doesn't typecheck, f2ji will remove it.

[code]

[code]

[2015-02-22 14:38] tomtau opened #19 "Testsuite is still broken"

[2015-02-22 14:38] tomtau opened #20 "A bug in checking recursive definitions involving type synonyms"
[code]

[code]

[2015-02-22 14:38] tomtau opened #21 "Outdated runtime.jar's never get updated"
runtime.jar does not get updated if there is already an old one in path.

This is the cause of Emma having not been able to use f2j to run compiled Java programs.

[2015-02-22 14:38] tomtau opened #22 "Migrate Test Suite to Tasty"
In the process of speeding up the test suite and splitting it, we may consider migrating it to Tasty: http://documentup.com/feuerbach/tasty

It may further speed up the tests by running them in parallel.

[2015-02-22 14:38] tomtau opened #23 "`isLeft` causes compilation error on GHC 7.6.3"
`isLeft` and other related functions are newly introduced to `Data.Either`, which should not be used if we want our compiler to work on GHC 7.6.3.

[2015-02-22 14:38] tomtau opened #24 "Fix the body of clone method"
The clone method we have now is problematic in that it only sets the last argument. Instead, we want to clone the arguments all the way up to the outermost closure.

[2015-02-22 14:41] #1 closed

[2015-02-22 14:41] #2 closed

[2015-02-22 14:41] #3 closed

[2015-02-22 14:41] #4 closed

[2015-02-22 14:41] #5 closed

[2015-02-22 14:41] #6 closed

[2015-02-22 14:41] #7 closed

[2015-02-22 14:41] #8 closed

[2015-02-22 14:41] #9 closed

[2015-02-22 14:41] #10 closed

[2015-02-22 14:41] #11 closed

[2015-02-22 14:41] #12 closed

[2015-02-22 14:41] #13 closed

[2015-02-22 14:41] #14 closed

[2015-02-22 14:41] #15 closed

[2015-02-22 14:41] #16 closed

[2015-02-22 14:41] #17 closed

[2015-02-22 14:41] #18 closed

[2015-02-22 14:41] #19 closed

[2015-02-22 14:41] #20 closed

[2015-02-22 14:41] #21 closed

[2015-02-22 14:41] #22 closed

[2015-02-22 14:41] #23 closed

[2015-02-22 14:41] #24 closed

[2015-02-22 14:45] tomtau opened #25 "Annotate your modules with Haddock headers"
This is a task for everyone, so do it and reassign this task to the person below you alphabetically.

https://wiki.haskell.org/Programming_guidelines#File_Format

[code]

[2015-02-22 14:45] tomtau opened #26 "More flexible record syntax"
Allow patterns to appear on the left-hand side of the equal sign.

[2015-02-22 14:45] tomtau opened #27 "Weird substitution problem v2"
There is an example that should typecheck. See the code below:

[code]
Whereas f2j gives the "type mismatch" message:

[code]
Everything is OK if the user tries to avoid such overlapping in source file. But that should be a bug in TypeCheck, and probably similar to the previous substitution problem.

[2015-02-22 14:45] tomtau opened #28 "One example to cripple the frontend"
As @xieningning points out, the following example should be a valid program:

[code]

However, I am confirmed that in develop branch, the above program crashed somewhere in the frontend, resulting the notorious `segmentation fault`.

[2015-02-22 14:45] tomtau opened #29 "Proper dealing with Void statements"
(Create a Unit type -- should be there) and map to it

[2015-02-22 14:45] tomtau opened #30 "New unboxing approach"
The goal is to try the new unboxing approach. Simply put, incorporate all types (primitive types and references type into one closure class. See the code below:

[code]

Here, the class `Closure` has multiple input and output fields, one for each type. The steps are the followings:

1. Write an example (factorial?) using this approach by hand, and test it to see if it's ok.
2. Formalize the idea.

[2015-02-22 14:45] tomtau opened #31 "A bug in checking recursive definitions involving type synonyms"
[code]

[code]

[2015-02-22 14:45] tomtau opened #32 "Migrate Test Suite to Tasty"
In the process of speeding up the test suite and splitting it, we may consider migrating it to Tasty: http://documentup.com/feuerbach/tasty

It may further speed up the tests by running them in parallel.

[2015-02-22 14:45] tomtau opened #33 "Separate SystemF / FI"

[2015-02-22 14:45] tomtau opened #34 "Propagate frontend name to generated backend"

[2015-02-22 14:45] tomtau opened #35 "Removing out in tail calls"

[2015-02-22 14:45] tomtau opened #36 "Create a better way for returning expressions that are not results of function applications in Stack Translation"
Currently, "createWrap" check whether the previous statements contain any "Next.next" assignments (which in this translation correspond to .apply() calls); if not, it creates an empyClosure to wrap the resulting expression, and assigns it to Next.next for the main body loop to be able to process it.

https://bitbucket.org/brunosoliveira/systemfcompiler/src/9b8f3a85d45e19208c9ef46ec62aceb77148961f/

[2015-02-22 14:45] tomtau opened #37 "Eliminate TApp at source level"
TApp implicitly.

[2015-02-22 14:45] tomtau opened #38 "Write zipWithN / high-order fn / partial application benchmark example"
[code]

Implement in:
[code]

[2015-02-22 14:45] tomtau opened #39 "Write tree generator benchmark"
something like a custom generator in Haskell’s QuickCheck. E.g. generate a 100,000-node AST of algebraic expressions using mutually recursive calls (kind of opposite of parsing).

[2015-02-22 14:45] tomtau opened #40 "Add infix operators"

[2015-02-22 14:45] tomtau opened #41 "Refactor using Variation Point"
Currently in back-ends, there are still a lot of repeated codes around (most of which are quite similar with their counterparts in Base translation).

This task is to use some technique called `Variation Point` to reduce those repetitions as much as possible. Simply put, we spot those differences, abstract them away and put into new translation records.

[2015-02-22 14:45] tomtau opened #42 "Port .gitignore to .hgignore"

[2015-02-22 14:45] tomtau opened #43 "Study formalization and implement implicit mixins"

[2015-02-22 14:45] tomtau opened #44 "Symbolic Evaluator for Core"
Port the code from the partition-checking project.

Complete the following tasks:

1) Write the standard big-step interpreter for a subset of our core language:
   * variables, application, lambda, if-expressions, primitives, let, type application, type abstraction.

2) Write the symbolic interpreter & execution trees.

3) Write the pretty-printer. Improve the simple pretty printer.

4) Hook up th

[2015-02-22 14:45] tomtau opened #45 "Document f2j language features"
As the source language grows it becomes hard to know which features are available. We should have a document in the wiki documenting the features and giving a few usage examples.

[2015-02-22 14:45] tomtau opened #46 "Type variable name bug in Core's pretty printer"
Pretty printing

[code]

in Core gives

[code]

1) skips "B"
2) "C" and "D" are not bound

[2015-02-22 14:45] tomtau opened #47 "Make a linker to support separate compilation"

[2015-02-22 14:45] tomtau opened #48 "Try to resolve shift/reduce conflicts"
Although the default behavior (shift) in both of the cases of conflict is what we want.

[2015-02-22 14:50] tomtau opened #49 "Replace unsafeCoerce by undebruijn"
brunosoliveira created an issue 2014-10-14
Currently we are using unsafeCoerce to get cheap&quick coercions between PHOAS expressions. However I think this is a mistake. We should be using an undebruijn function. The benefit would be better debugging/error-messages and potentially a solution to the weird substitution issue (by enforcing a dedebruijn after every traversal).

[2015-02-22 14:51] tomtau opened #50 "Performance penalty due to elaborating records"

[2015-02-22 14:51] tomtau opened #51 "Speed up the testsuite"

[2015-02-22 14:52] tomtau opened #52 "Reduce I/O with typeserver during typechecking"
The idea would be to memoize valid Java constructs (class names, method call / field access signatures).
Before the improvement:
./run-tests-pipeline.sh  76.30s user 4.38s system 138% cpu 58.223 total
./run-tests-pipeline.sh  70.91s user 4.28s system 139% cpu 53.828 total
./run-tests-pipeline.sh  69.60s user 4.19s system 140% cpu 52.365 total
After memoizing valid Java class names:
./run-tests-pip

[2015-02-22 14:53] tomtau opened #53 "Make sure if the desugarer is semantics-preserving"

[2015-02-22 14:56] tomtau opened #54 "Create a version of the fractals examples for the testsuite"
brunosoliveira created an issue 2014-10-15
The fractals example is a large program, that is very helpful for testing (that's why lots of bugs get stuck there).
It would be good to have a version of that program in the testsuite. However we should not be using the Java GUI stuff. So the idea here would be to replace the GUI drawing functions by some other functions that don't do anything.
TODO:
1)

[2015-02-22 14:57] tomtau opened #55 "f2j shouldn't behave differently on different current directories"
systemfcompiler % f2j examples/fractals.sf
fractals using ApplyOpt
  Compiling to Java source code ( examples/Fractals.java )
f2j: NoSuchClass "hk.hku.cs.f2j.Complex"

systemfcompiler % cd examples

examples % f2j fractals.sf
fractals using ApplyOpt
  Compiling to Java source code ( ./Fractals.java )
f2j: compiler/Core.hs:(245,5)-(264,61): Non-exhaustive patterns in function go

[2015-02-22 14:58] tomtau opened #56 "Precedence with ,, and &"
Currently /\A. \(x : A). 1 ,, 1 is parsed as /\A. (\(x : A). 1 ,, 1), but it should be parsed as (/\A. \(x : A). 1) ,, 1. That is, ,, should have lower precedence than /\ and \.
Also check if there's a similar issue at the type level, namely & and forall and ->.

[2015-02-22 14:58] tomtau opened #57 "Browser client for compiling SF expressions"
Create a simple client that takes an expression as input and outputs the corresponding generated Java code, as well as the result of the expression.

[2015-02-22 21:55] zonyitoo opened #58 "Could not compile examples on Mac OS X"
I just clone the latest version on Github, and I still could not compile some examples, such as `CallByName.sf`.

Here is the output
[code]

[2015-02-23 01:54] bixuanzju commented on #58
@zhiyuanshi George, I looked at the dumped code

[code]

The argument `x` of `callByName` is a function, that's why java method call failed. Is there something wrong in the front-end?

[2015-02-23 03:05] bixuanzju opened #59 "Tidy and Update examples"
Recent changes in our compiler break some example programs in the `example` directory. Since that is where we showcase various aspects of our compiler, I'd suggest we take time to fix them.

Broken examples:
+ [ ] CallByName.sf
+ [ ] Id.sf
+ [ ] Issue_185.sf
+ [ ] LazyAdd.sf
+ [ ] ObjectAlgebra.sf
+ [ ] ObjectAlgebra2.sf
+ [ ] ObjectAlgebra3.sf
+ [ ] ObjectAlgebra_ExpAlg.sf
+ [ ] ObjectAlgebra_Syb

[2015-02-23 03:46] tomtau commented on #32
Also, integrate with https://coveralls.io

Here is a utility for that: https://hackage.haskell.org/package/hpc-coveralls

[2015-02-23 06:50] zonyitoo commented on #58
Not only `CallByName.sf`, but also the following:
- `ChainingMethods.sf`

[code]
- `Id.sf`

[code]
- `Issue_185.sf`

[code]
- `LazyAdd.sf`

[code]

My OS's locale is set to Simplify Chinese. The message means that there is a type error on binary operator '+', the first operand is a Closure and the second one is also a Closure. I think the problem may be located in the runtime library.
- `ObjectAlg

[2015-02-23 13:45] zhiyuanshi commented on #58
Remember to work on the `develop` branch. The `master` branch is quite old. (We should fix this to make it something like a stable release though.)

The call by name feature is still under development. So if you see the source file refers to something like `lazy`, `byName`, there's a high chance that it does not work.

`examples/Issue_185.sf` produces a segfault, which is a known issue.

For the r

[2015-02-23 14:22] bixuanzju commented on #58
Also related to #59

[2015-02-24 05:19] zhiyuanshi opened #60 "Parse error: examples/StringLength.sf"
[code]

[2015-02-24 05:21] zhiyuanshi opened #61 "Parse error: examples/datatype.sf"
[code]

[2015-02-24 05:23] zhiyuanshi opened #62 "Parse error: examples/{ObjectAlgebra_SybAlg_runfail.sf, ObjectAlgebra_SybAlg_runpass.sf}"
Unmatched parentheses and curly braces spotted in source.

[2015-02-24 05:29] zhiyuanshi opened #63 "Parse error: examples/StateMonadList.sf"

[2015-02-24 05:37] zhiyuanshi commented on #58
Fix most programs by commit 15e7192 and open new issues (#60, #61, #62, #63) for the rest which are assignable to others.

[2015-02-24 05:37] #58 closed

[2015-02-24 15:05] #60 closed

[2015-02-24 15:28] #63 closed

[2015-02-24 15:46] bixuanzju commented on #59
In `example/list`, `foldl.sf`, `foldr.sf`, `map.sf` cause `segmentation fault`. waits for #28 to resolve.

[2015-02-26 22:46] zhiyuanshi opened #64 "Split the frontend out"

[2015-02-27 00:58] zhiyuanshi commented on #27
Related to [Capture-avoiding substitutions](http://en.wikipedia.org/wiki/Lambda_calculus#Capture-avoiding_substitutions).

Line 1: `getTwo : forall A B. A -> A`

Line 2 (expected): `getTwo [B, C] : forall B C. B -> B`

[2015-02-27 07:52] zonyitoo opened #65 "Require supporting of module and namespace"
Currently, F2J has already had module grammar as describe in `examples/module.sf`, but does not have support for writing modules in separated files. So I suggests that we could support it by simply copy and paste module files' content into one file, just like `#include` command in C.

## Simple Example

Here is the example in `examples/module.sf`

[code]

And lets assume we have the following dir

[2015-02-27 07:57] EmmaBYPeng commented on #65
Actually a simple non-recursive module system is already supported in the module branch (for both f2j and f2ji). I haven't merged it into develop yet.

[2015-02-27 08:00] zonyitoo commented on #65
@EmmaBYPeng Excellent. Could you write some examples here?

[2015-02-27 08:50] EmmaBYPeng commented on #65
1. Link modules with source file:
   - f2j: `-l --module=MODULE`
   - f2ji: `:link <sourceFile> -m <module1> <module2> ...`
2. f2ji:
   - `:load M` Load module M into REPL environment, allow user to use functions defined in M, say M.add
   - `:import M` Allow user to directly use add instead of M.add

[2015-02-27 15:37] EmmaBYPeng commented on #65
There are some more examples of module (module1.sf, module2.sf, etc) in fcore/compiler.

[2015-02-28 21:16] zhiyuanshi commented on #53
Not well-defined a task.

[2015-02-28 21:16] #53 closed

[2015-02-28 21:17] zhiyuanshi commented on #51
Done by Emma.

[2015-02-28 21:17] #51 closed

[2015-02-28 21:18] zhiyuanshi commented on #33
Done by Haoyuan.

[2015-02-28 21:18] #33 closed

[2015-02-28 21:19] zhiyuanshi commented on #45
Done.

See https://github.com/hkuplg/fcore/tree/develop/doc

[2015-02-28 21:19] #45 closed

[2015-02-28 21:20] zhiyuanshi commented on #47
Not on current priority.

[2015-02-28 21:20] #47 closed

[2015-02-28 21:20] zhiyuanshi commented on #50
Not on priority.

[2015-02-28 21:20] #50 closed

[2015-02-28 21:21] zhiyuanshi commented on #52
Done.

[2015-02-28 21:21] #52 closed

[2015-02-28 21:21] zhiyuanshi commented on #43
Not on priority.

[2015-02-28 21:21] #43 closed

[2015-02-28 21:28] zhiyuanshi commented on #31
Already fixed.

[2015-02-28 21:28] #31 closed

[2015-03-01 02:36] bixuanzju opened #66 "Syntax changes?"
Latest work on branch `feature/syntax-improvements` seems to change syntax again?

+ Do we need to put brackets around type params both in definitions and type applications?
[code]
will work, while the following won't
[code]

+ No `let <exp> in <exp>` syntax?
[code]
has parse error.

[2015-03-01 02:43] zhiyuanshi commented on #66
Yes, as in Scala. `in` has been replaced by `;`.

For the latest syntax, please refer to:
https://github.com/hkuplg/fcore/blob/develop/doc/cheatsheet.md

[2015-03-01 02:53] bixuanzju commented on #66
Could you also look at `example` directory, some of the previously fixed example are broken again.

[2015-03-01 03:17] zhiyuanshi commented on #66
Fixed. The examples for modules don't compile as they won't without linking.

I'd like to ask Haoyuan to look at `examples/ObjectAlgebra_SybAlg_{runpass,runfail}.sf` (already assigned in another issue)

[2015-03-01 03:18] #66 closed

[2015-03-02 02:10] #61 closed

[2015-03-02 04:06] zhiyuanshi opened #68 "Merge develop to master"
Be careful...

[2015-03-03 07:53] zonyitoo opened #69 "Error in handling data type"
For example

[code]

Compiler said

[code]

I think it treats Nil as a `PolyList` type instead of a `PolyString`.

[2015-03-03 07:56] wxzh commented on #69
Replace `Nil` with `Nil [Char]` will make the compiler happy.

[2015-03-03 08:09] xnning commented on #69
Hi,

I guess what you want is

_type_ PolyString = PolyList Char;

instead of data.

2015-03-03 15:56 GMT+08:00 Weixin Zhang notifications@github.com:

[2015-03-03 08:16] zonyitoo commented on #69
@xnning This gives me an compile error..
@wxzh Could you give me an example about how to make these functions work?

[code]

[2015-03-03 08:23] zonyitoo commented on #69
@xnning @wxzh I finally figure it out your ideas...

[code]

Thanks for your help!!!!

[2015-03-03 08:23] #69 closed

[2015-03-03 09:51] zonyitoo opened #70 "Unexpected compile error"
[code]

It seems that the compiler got into a infinity loop, because it replies

[code]

[2015-03-03 11:19] zonyitoo commented on #69
@zhiyuanshi Should this be a Bug??

[2015-03-03 11:22] xnning commented on #70
String is a java class but length, head, tail are for List.

So you should use java method, write code like

str.isEmpty(),
str.substring()

Or you can change to use List<Char>, then you can use head tail and length

Unfortunately, here String is not a synonym of List<Char>

2015-03-03 17:51 GMT+08:00 Y. T. CHUNG notifications@github.com:

[2015-03-03 11:43] zonyitoo opened #71 "Segmentation error"
[code]

Compile successfully if remove the `map` function.

[code]

[2015-03-03 11:44] bixuanzju commented on #71
That's a known issue. Please refer to #28

[2015-03-03 11:44] #71 closed

[2015-03-03 12:53] zonyitoo opened #72 "Need support of escaping characters in String and Char constant"
[code]
and
[code]
Should be compiled successfully

[2015-03-03 14:13] zonyitoo commented on #70
@xnning Thank you for the solution, but this approach brings out a new question:

[code]

Compiler said expecting `Char` but found `char`.

But if I try to replace this piece of code to

[code]

Compiler complains that

[code]

Those Chinese means that `<char>` is an unexpected type.

[2015-03-03 14:13] zonyitoo commented on #70
cc: @zhiyuanshi

[2015-03-03 14:38] bixuanzju commented on #70
This is a bug. Maybe related to `TypeServer`. Long time ago, I added a kludge to `TypeServer`: if the Java method returns primitives types, `TypeServer` won't box them, e.g. `int` won't become `Integer`.

Apparently `charAt` returns primitive type `char`, so when type-checking, the type checker will see `JType (JPrim "char")` .

I am not sure how the type `Char` in our language is represented, nee

[2015-03-03 14:48] zonyitoo commented on #70
@bixuanzju I remember that @zhiyuanshi have told me `Char` is actually represented as `java.lang.Character`.

[2015-03-03 14:50] bixuanzju commented on #70
Then `JType (JPrim "char")` should be equivalent to `JType (JClass "java.lang.Character")` when type-checking

[2015-03-04 01:00] zhiyuanshi commented on #70
@zonyitoo: You're right. As a user of the compiler, he should be able to regard all primitive types in F2J as boxed types in Java and not worrying about boxing and unboxing. But from an implementation point of view in Java there are primitive types.

@bixuanzju: I think another approach is that let type server return boxed types only (for example, return `String` if it finds a `string`). In this w

[2015-03-04 01:04] bixuanzju commented on #70
@zhiyuanshi This is exactly what `TypeServer` did before I toke over until we had a bug that made me change a bit some time ago. I need to dig a bit to see if I can still find that example

[2015-03-04 01:06] bixuanzju commented on #70
cc @zonyitoo Only `char` and `Character` are affected. Other primitive types will be returned as boxed types.

[2015-03-04 01:08] bixuanzju commented on #70
Please refer to this [page](https://github.com/hkuplg/fcore/wiki/Quick_and_Dirty#jvm-type) on the Wiki. I documented some temporary hacks we had.

[2015-03-04 04:48] zonyitoo opened #73 "Type check error"
[code]

Compiler said

[code]

This may be related to #71 . I have spent a whole day on this but still don't know where the problem is.

[2015-03-04 06:08] zonyitoo opened #74 "Asking feature supports of builtin collection types and tuple"
I think built in types, like `List` and `String` should be a `PolyList[T]` and `PolyList[Char]`. So we can use pattern match to operate every elements of the `List` and `String`.

And we may need a syntax sugar of creating a `List`, such as `[]`, `[1]`, `[1, 2, 3]`.

If the infix operator is ready, we could also have `:` operator.

For tuples, it should be possible to extract contents in the tuple

[2015-03-04 06:08] xnning commented on #73
In the last statement,

 concat (map ((v : (A, PolyString)) -> (f v._1 v._2)) (p inp));

neither concat and map don't have type application.

I guess the compiler is complaining the argument fed to map is without type
application .

2015-03-04 12:48 GMT+08:00 Y. T. CHUNG notifications@github.com:

[2015-03-04 06:17] zonyitoo commented on #74
If we wants to call Java methods with `List` and `String` as arguments or return values, there have to be some approaches to convert `List` from/to `java.util.List` and `String` from/to `java.lang.String`. This could be built in the compiler.

[2015-03-04 06:30] zhiyuanshi commented on #74
As to your last point, actually there is no need for conversion at least for `String`, as type constants are all Java types. Documented here: https://github.com/hkuplg/fcore/blob/develop/doc/cheatsheet.md

[2015-03-04 06:32] zhiyuanshi opened #75 "Document the usage of algebraic data types and pattern matching"

[2015-03-04 06:43] wxzh commented on #73
The correct way to write bind as Ningning suggested is:

[code]

[2015-03-04 07:20] wxzh opened #76 "The name of type constructor and data constructor can be the same"
[code]

Issue using [Naive]
Compiling to Java source code ( ./Issue.java )
./Issue.java:12: error: class T is already defined in method apply()
      class T extends T
      ^
1 error

[2015-03-04 08:42] xnning commented on #76
It is fixed now. it will rename the constructor name to be T1 when generating code in the back end.

[2015-03-04 08:45] zhiyuanshi commented on #76
What will happen if `T1` is already bound?

[2015-03-04 08:50] zhiyuanshi commented on #76
[code]

gives

[code]

[2015-03-04 08:50] xnning commented on #76
sorry forgot number is allowed.

Change the solution to make all name a concatenation of datatype name and constructor name will fix it then.

[2015-03-04 08:58] #73 closed

[2015-03-04 09:02] #76 closed

[2015-03-04 09:33] zonyitoo commented on #74
@zhiyuanshi In Java, `String` and `List` is not the same thing. It will be much more convenient to use `String` as a `List[Char]`.

[2015-03-04 10:05] zonyitoo commented on #73
Thank you @wxzh . Could you please help me with another similar question:

[code]

Compiler said

[code]

[2015-03-04 10:06] zonyitoo commented on #73
[code]

[2015-03-04 12:27] EmmaBYPeng commented on #68
Done.

[2015-03-04 12:27] #68 closed

[2015-03-04 12:54] wxzh commented on #73
I think this is a bug related to issue #27. @zonyitoo

[2015-03-04 12:57] zhiyuanshi commented on #68
Cool. (I tried once actually but aborted.)

[2015-03-05 02:30] brunocdsoliveira commented on #72
This should be addressed soon. It should be an easy thing todo. Please increase the severity.

[2015-03-05 03:59] bixuanzju opened #77 "make test failed again"
Starting from this [commit](https://travis-ci.org/hkuplg/fcore/builds/53017031), `make test` failed. Please fix it ASAP.

[2015-03-05 04:10] #77 closed

[2015-03-05 04:11] bixuanzju commented on #70
I found the old issue, see below:

So the change is mainly for performance. Since now the new `unboxing` is under development, maybe this change should be reverted.

[2015-03-05 04:30] #70 closed

[2015-03-05 04:30] bixuanzju commented on #70
@zonyitoo Does 9ced02f fix for you?

[2015-03-05 04:33] bixuanzju commented on #42
Since we are now using git, this should be closed?

[2015-03-05 04:34] zhiyuanshi commented on #42
Yep.

[2015-03-05 04:34] #42 closed

[2015-03-05 05:22] zhiyuanshi commented on #32
Tasks:
- [x] Use a single Cabal file as using multiple ones violates software engineering principles
- [ ] Edit Cabal file. Quote Tasty documentation: "Re-organize the project into a library and a program, so that both the program and the test suite depend on this new library." [(link)](http://documentup.com/feuerbach/tasty#project-organization-and-integration-with-cabal)

[2015-03-05 05:37] zhiyuanshi commented on #72
@linusyang Are you interested in doing this to get started with the hacking?

[2015-03-05 05:56] zonyitoo commented on #70
@bixuanzju Cool, it fixed.

[2015-03-05 05:58] zhiyuanshi opened #78 "String interpolation"
## Motivation

String concatenation is prevalent in a pretty printer. As the size of program grows, calling the Java `concat` method on Strings soon becomes tedious and the code is hard to read. For example,

[code]

Therefore, I propose the support of [string interpolation] in our compiler. This can be one scheduled feature. The priority will depend on the manpower we have.

[string interpolation

[2015-03-05 06:20] linusyang commented on #72
@zhiyuanshi This is related to the lexer part (`compiler/Lexer.x`), right?

[2015-03-05 06:29] zhiyuanshi commented on #72
@linusyang Yes. We use [Alex](https://www.haskell.org/alex/) to generate the lexer.

[2015-03-05 07:08] linusyang commented on #72
@zhiyuanshi Thanks! Let me write a quick fix for this.

[2015-03-05 07:15] zhiyuanshi commented on #72
@linusyang Thanks!

[2015-03-05 09:10] zhiyuanshi opened #79 "Java processes get left hanging around upon parse/typecheck errors"
You know what I mean. :hand:

[2015-03-05 12:04] linusyang commented on #72
@zhiyuanshi Check if #80 works, which follows the Java standard (`\uDDDD`) but not C style standard (`\xDD`) for better interoperability and Unicode support. BTW, the unescape funtion is taken directly from Language.Java. :)

[2015-03-05 12:12] dynastywind opened #81 "Nesting If and "Data" Question"
I wrote a sample code trying to use nesting Ifs but failed. Is it impossible to write nesting if in F2J now?

Besides, I write
data Option[T] = Some T | None in my code, but the compiler says that the place where "[" appears has error. Is there any who could help me to solve this problem? Thank you.

[2015-03-05 12:14] brunocdsoliveira commented on #81
It will probably be useful to paste your code here so that we can try the code and send you a fix.

[2015-03-05 12:30] xnning commented on #81
nested if works, like

[code]

Currently in data declare, [] is no need in left side,

[code]

Btw, is it better to have [] in left sides to consist with function declare?

[2015-03-05 12:35] wxzh commented on #81
@xnning The syntax has been changed to be the same as type synonyms, so [] is needed on the LHS.
@dynastywind  You can refer to https://github.com/hkuplg/fcore/blob/develop/doc/cheatsheet.md#expressions
or examples under https://github.com/hkuplg/fcore/tree/develop/examples/datatype

[2015-03-05 12:39] xnning commented on #81
i seen. Pull the latest version, then the original Option declare should work.

[2015-03-05 12:50] dynastywind commented on #81
@wxzh
What I want to do is to write a function that extract an element from a java List according to the index by firstly checking if it is out of the list's bound. Below is my code.

type MyList = java.util.ArrayList;
data Option T = Some T | None;
let addValue (list: MyList) (value: Char) = list.add(value);
let getValue (list: MyList) (index: Int) =
    if list.size() > index then
        Some (

[2015-03-05 12:50] zhiyuanshi commented on #72
@linusyang I had a brief look and the code you committed looks like a pro :+1:. I'm in a work groove and will check it out more carefully later.

[2015-03-05 13:01] linusyang commented on #72
@zhiyuanshi Because the code with comments is taken from Language.Java. :P Anyway, thanks a lot!

[2015-03-05 13:14] xnning commented on #81
if you have the latest code, then

[code]

is correct. Please do keep the [] in LHS.

Because Option has type parameter, Some and None both need to have type application.
Change the getValue function to be

[code]

[2015-03-05 13:28] wxzh commented on #81
As Ningning suggested, you need to write the type **explicitly** every time you use a data constructor belonging to a parameterised datatype.

BTW, there is also a support for generic list, see https://github.com/hkuplg/fcore/tree/develop/examples/list

[2015-03-05 14:12] wxzh opened #82 "Some files are gone after the latest merge"
After https://github.com/hkuplg/fcore/commit/adf056466ebcf43832417ed29d3fd42345f1b866,
some of the files under examples/datatype and examples/list are gone.

[2015-03-05 14:33] #82 closed

[2015-03-05 15:18] bixuanzju opened #83 "CastException when running this example"
To reproduce, compile and run the following
[code]

It type checks, but has cast exception

Exception in thread "main" java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Boolean
	at Main.apply(Main.java:34)
	at Main.main(Main.java:39)

[2015-03-05 15:28] zonyitoo commented on #72
Cool

[2015-03-05 17:28] zonyitoo commented on #65
@EmmaBYPeng Seems that I cannot define `data` or `type` in module currently.

Because I got parse error on this

[code]

This won't be so useful in practice if module just supports function definitions.

[2015-03-05 18:13] zonyitoo opened #84 "A bug for currying"
I have encounter a weird bug (or a feature?)

[code]

One possible fix is to add brackets surrounding `function2 "abc"`. Our compiler will complain about type mismatch. Because `function` expects a `String` but `function2` is `String -> String`.

It seems that F2J does not supports currying, because the following piece of code does not work too.

[code]

That doesn't make sense.

[2015-03-05 18:28] zonyitoo commented on #74
I had some thoughts about how to implement the `List[T]`. A _List_ in functional programming language is actually a immutable data structure. So there are some possible references about immutable collections on Java, such as http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/ImmutableList.html.

If we use a `java.lang.String` directly in functional programming languag

[2015-03-05 18:32] zonyitoo commented on #79
+1, this should be a critical bug!! It consumes my battery life!!

[2015-03-05 18:37] zonyitoo commented on #78
I think `\{` should be considered as an error. The character follows `\` should be escapable.

I know the parser can deal with this situation, but sometimes this should be a bug in a program.

[2015-03-05 18:39] zonyitoo opened #85 "let ... in ... expression have been removed?"
[code]

Compiler reports an parse error.

[2015-03-06 00:15] brunocdsoliveira commented on #84
I think there are 2 different issues here: currying and type-inference. For currying it seems like there is a buig in the compiler. For type-inference that's a feature enhancement. We should be able to fix the first issue quickly. The second issue is much more challenging (although we certainly agree that it is a very desirable feature).

Can you split the issues into 2: a bug for currying; and a

[2015-03-06 00:18] brunocdsoliveira commented on #79
Emma, could you take a look at this?

[2015-03-06 00:31] zhiyuanshi commented on #84
I think currying is a false issue. The problem with the first example (even after you added the parens) is that it doesn't type check. Function application associates to the **left**. To make it type check, add parens. This works:

[code]

[2015-03-06 00:36] zhiyuanshi commented on #85
Yes, for consistency with other declaration-like constructs (`type`, `data`). Use `let x = e; e` instead. In the future we'll make semicolons optional.

If you have doubts about the supported syntax on the head of the develop branch,

https://github.com/hkuplg/fcore/blob/develop/doc/cheatsheet.md

should give you a quick helping hand.

[2015-03-06 00:43] brunocdsoliveira commented on #84
Ah, yes. George is right.

[2015-03-06 00:43] zhiyuanshi commented on #79
The problem is mainly about this:

The Haskell program starts a Java process and it quits (by, say, `error "Parse error"`) before terminating the Java process.

[2015-03-06 00:45] zhiyuanshi commented on #79
@zonyitoo For the moment, a `killall java` in the shell should work. But before doing that, make sure you don't have other important Java processes that don't belong to F2J if you don't want to kill them as well.

[2015-03-06 01:24] EmmaBYPeng commented on #79
Noted!

[2015-03-06 01:56] bixuanzju commented on #46
The problem has gone, I think

[2015-03-06 01:56] #46 closed

[2015-03-06 02:01] bixuanzju opened #86 "Let pretty printer be consistent with actual syntax"
The syntax of our language has changed bit but pretty printer still prints out old syntax, e.g.,
[code]
prints to
[code]
while expected is
[code]

BTW, why there is `(/\ _. id )` in the argument? I don't think this is correct from the semantic view.

[2015-03-06 02:04] EmmaBYPeng commented on #65
A modules will be desugared to a record. Please refer to its implementation here https://github.com/hkuplg/fcore/wiki/Module%20System. Also, I think @zhiyuanshi understands better about the implementation of modules.

[2015-03-06 02:25] zonyitoo commented on #84
@zhiyuanshi I agree with the association. But what I mean in the example is the currying bug. But I don't know whether it is a type check bug or currying bug, so I put them together.

[2015-03-06 02:29] zonyitoo commented on #84
@zhiyuanshi I agree with the fix (which I have already mention). But I think the following code should work too

[code]

According to **LEFT** association, `function function2 "abc"` is equivalent to `(function function2) "abc"`. That exactly what I mean.

[2015-03-06 02:30] zonyitoo commented on #84
@brunocdsoliveira Ok, I will split it to another issue.

[2015-03-06 02:32] zonyitoo opened #87 "Better support of type inference"
It would be much more convenient if we don't need to write type annotations...

[code]

which means that I don't need to tell compiler explicitly.

[2015-03-06 02:32] zonyitoo commented on #87
split from #84

[2015-03-06 02:33] zhiyuanshi commented on #84
@zonyitoo No I don't think so. `function` expects a `String` but `function2` has type `String -> String`.

[2015-03-06 02:35] brunocdsoliveira commented on #84
function function2 "abc"

is indeed equal to

(function function2) "abc"

and both of these are not well-typed. Try your example in Haskell (for example) and you'll see that Haskell behaves in the same way. The only correct thing is:

function (function2 "abc")

[2015-03-06 02:37] brunocdsoliveira commented on #84
Generally speaking, before reporting a bug, it is a good idea to try out the code in another functional language, to make sure it is indeed a bug (and not a misunderstanding).

[2015-03-06 02:41] zonyitoo commented on #84
Ok. I see...

[2015-03-06 02:41] #84 closed

[2015-03-06 02:46] zonyitoo commented on #79
:+1:  @zhiyuanshi I will `top` every time when I feel my laptop heats up. :)

[2015-03-06 03:16] bixuanzju commented on #83
Strangely, the following can type check and run:

[code]

[2015-03-06 03:35] EmmaBYPeng commented on #79
I think the problem caused by parse errors is fixed now (Haskell process won't quit for a parse error). Have a try!

[2015-03-06 04:57] bixuanzju commented on #83
With @hy-zhang we confirmed this is related to weird substitution issue (similar to simplifier)

[2015-03-06 04:59] zhiyuanshi commented on #83
I'm still fixing #27. Hang tight.

[2015-03-06 05:49] tomtau commented on #25
I think most of them are annotated - if @zhiyuanshi or @bixuanzju or me or anyone else observing the repo spots some more, create individual issues

[2015-03-06 05:49] #25 closed

[2015-03-06 05:51] tomtau commented on #29
was done https://github.com/hkuplg/fcore/blob/develop/compiler/BaseTransCFJava.hs#L401

[2015-03-06 05:51] #29 closed

[2015-03-06 05:53] tomtau commented on #39
Originally Huang and Weixin worked on it, but it was closed on Bitbucket, since it wasn't a pressing issue

[2015-03-06 05:53] #39 closed

[2015-03-06 05:55] tomtau commented on #38
Also worked on by Huang and Weixin.
Closed on Bitbucket with a comment "mostly done + not a top priority after a discussion"

[2015-03-06 05:55] #38 closed

[2015-03-06 06:02] bixuanzju opened #88 "No parse error detection?"
The latest commit silents all parse errors
[code]
this shouldn't be parsed, but the compiler happily accepts, and doesn't produce anything
[code]

[2015-03-06 06:29] #27 closed

[2015-03-06 06:35] EmmaBYPeng commented on #88
Ah...noted! (it's working fine with f2ji though...)

[2015-03-06 06:37] wxzh commented on #27
This patch fixes the known bug in `fsubstTT`:

[code]

[2015-03-06 07:15] EmmaBYPeng commented on #88
It should give a parse error now.

[2015-03-06 07:15] #88 closed

[2015-03-06 07:25] bixuanzju opened #89 "bug in rewriting"
[code]
cause run-time error while
[code]
doesn't

[2015-03-06 07:57] bixuanzju commented on #89
Blame simplify!

[2015-03-06 08:53] zhiyuanshi opened #90 "Propagate line and column number to the type checker"
Currently line and column number is attached to each token, but discarded in the parser during the construction of abstract syntax trees.

[2015-03-06 08:53] zonyitoo commented on #90
+1

[2015-03-06 14:09] dynastywind commented on #81
@wxzh
Is there any functions in hand that I can use to compare whether a string and a list of chars are correct or not? If not, how can I implement my own? Below is my code but runs into problems.

let rec equals (string: String) (chars: List<Char>) =
    if length(string) == length(chars) then
        if length(string) == 1 then
            if string.charAt(0) == head(chars) then

[2015-03-06 14:42] wxzh commented on #81
When using `let rec` construct, you need to specify the return type explicitly

[2015-03-06 18:11] zhiyuanshi opened #91 "Duplicate compilation of f2j"
But right despite many attempts I haven't found a way to avoid that because I suspect a Cabal bug prevents linking an executable involving `deriving (...,Data,Typeable)`. But that `deriving` clause is required for using Neil Mitchell's [CmdArgs](https://github.com/ndmitchell/cmdargs) library, which we use to implement the command-line interface.

This significance of this issue is that it slows do

[2015-03-07 04:28] bixuanzju commented on #89
This is bug on me!

[2015-03-07 04:30] #89 closed

[2015-03-07 04:32] #83 closed

[2015-03-07 14:28] brunocdsoliveira commented on #81
@dynastywind For questions please don't create issues. Issues are for bugs or feature requests. If you want to ask questions, please use either:

1) The compiler mailing list;

2) The slack compiler channel.

[2015-03-07 14:28] #81 closed

[2015-03-07 14:29] brunocdsoliveira commented on #87
Definitely a desirable feature, but unlikely to be supported any time soon ...

[2015-03-07 14:33] brunocdsoliveira commented on #74
@xnning Perhaps you can look into this? I think the first step would be to study support for pattern matching of strings in Scala. Then we could discuss possible implementation options.

[2015-03-07 14:35] brunocdsoliveira commented on #65
@EmmaBYPeng We should probably discuss some feature enhancements for modules. I agree with @zonyitoo that there are important features missing at the moment.

[2015-03-07 15:10] zonyitoo commented on #87
@brunocdsoliveira I have discussed with @zhiyuanshi about this. It is a little bit complicated to support type inference in F2J...

[2015-03-07 15:25] EmmaBYPeng commented on #65
@brunocdsoliveira Agree.

[2015-03-09 03:48] wxzh opened #92 "Invalid casting in backend"
The example

[code]
produces the following error:

[code]

[2015-03-09 06:09] xnning commented on #92
I think data type is innocent here.

code like this

[code]

can not work.

[code]

the compiler got the return type wrong. This is the same error reason for above data type code.

[2015-03-09 06:16] xnning commented on #74
ok, it's mine!

[2015-03-09 06:31] wxzh commented on #92
@xnning Thanks for generalising it :)

[2015-03-09 07:24] #92 closed

[2015-03-09 08:53] hy-zhang commented on #28
Latest commit gives a temporary solution to the "segmentation fault" problem. The branch is "develop". Please try. A drawback is that this approach is not efficient, but should be OK for now.

[2015-03-09 09:24] zhiyuanshi commented on #28
Link to commit a07e7f01b7397acf67c6307dacd880a213d72625

[2015-03-09 09:30] zonyitoo opened #93 "Compiler got stuck when compiling the following code"
[code]

The process `f2j` never ends and consumes most of the CPU resources.

[2015-03-09 09:35] zonyitoo commented on #93
May relate to #28

[2015-03-09 09:54] zonyitoo opened #94 "Unexpected type mismatch"
[code]

Because of #93 , I cannot see the error message again. So I don't know whether it is already fixed.

The original error is about `seq` function. Compiler said there is a type mismatch in it.

@zhiyuanshi may know about it.

[2015-03-09 11:56] brunocdsoliveira commented on #93
Haoyuan, do you know what is happening here? Why it loops? is it your fix? If it is, either you can try to fix it, or perhaps we have to reverse the fix...

Also, when you try to solve the problem, can you use this file to test your solution?

[2015-03-09 13:05] zonyitoo opened #95 "Compare between tuples"
[code]

[code]

The compiler will see the first case as a special case, which means that it will be compiled into

[code]

I think we will need **Type Class** to solve this problem.

[2015-03-09 13:39] zhiyuanshi commented on #95
I don't think this will be implemented any time soon. Priority should be lower than type inference at least.

[2015-03-09 13:48] xnning commented on #74
the prevalent way to support pattern matching of string in scala is using Regex. [API of Regex](http://www.scala-lang.org/api/current/index.html#scala.util.matching.Regex)

It uses regular expression to match string, and extracts groups from strings.
example code modified from the api link. Here  date is a Regex. Here are three groups each wraps in brackets in date.

[code]

The case expression he

[2015-03-09 14:04] brunocdsoliveira commented on #95
Our type-checker should reject (1,1) == (1,1). Equality for tuples should be defined manually, by creating a function.

[2015-03-09 14:07] zhiyuanshi opened #96 "Typechecker should reject equality terms between compound types"
References #95.

[2015-03-09 14:09] brunocdsoliveira commented on #96
A better description would be:

The type-check should only accept equality on primitive types :)

[2015-03-09 14:09] zhiyuanshi opened #97 "Parse `new java.util.ArrayList()` correctly"
And revert the temporary hack of `testsuite/tests/should_run/CreateObject.sf`

[2015-03-09 14:18] wxzh commented on #94
Can you reproduce it after version 8865dd0 (fixing #27)?

[2015-03-09 14:24] brunocdsoliveira commented on #94
Weixin, could you perhaps test it with your fix and that version of the compiler. Haoyuan submitted a fix today, for a different bug, but the fix itself was buggy.

[2015-03-09 14:30] wxzh commented on #94
I cannot reproduce this bug. I switched to a version after my fix but before Haoyuan's. What I got was a segment fault indicating that it passed type-checking.

[2015-03-09 14:32] brunocdsoliveira commented on #94
Ok! I guess that the type-checking bug should be closed, and the segmentation fault should be opened (if not opened already).

[2015-03-09 14:33] #94 closed

[2015-03-10 07:52] zonyitoo commented on #93
It works with commit 69098b9ad27a80d4c480668bd5ce3427be98807d

[2015-03-10 08:40] zonyitoo opened #98 "f2j panic by reporting "Desugar.desugarLetRecToFix: not a function""
[code]

This happens when I add the `word` function. Compiler said

[code]

[2015-03-10 09:33] zonyitoo opened #99 "Supports empty expression"
[code]

Compiler will report parse error on the above piece of code. But we can define the value of an empty expression has a *void* value. It will be useful in `if` statement

[code]

And there will not be a strong requirement that all `*.sf` file must not ends with `;`.

I suggest the *void* value could be `()`.

[2015-03-10 10:23] bixuanzju commented on #99
This sounds like doing side effects, I wonder what's the type of the _void_ value (or `()` as you suggest).

If I am not mistaken, currently we have the `()` value of type `Unit`, so I think evaluating two expressions in sequence `e1; e2` is just a syntax sugar of `(\(x : Unit) -> e2) e1`. Translating your example to a valid f2j program:

[code]

Ironically, the above program crashes, a bug found

[2015-03-10 10:58] zhiyuanshi commented on #99
By the way, I'm not a big fan of empty things. `()` is just a value, like others, and whitespace is not its name. But you can always explicitly put a `()` in the `if` branch. But we might consider equate

[code]

to

[code]

to make code that works mainly by condition + side-effects look better.

[2015-03-10 11:00] bixuanzju commented on #99
@zonyitoo Just to clarify, do you want to add feature like "sequencing notation" (e.g. `e1; e2`), or you think `Unit` type is what you want?

[2015-03-10 11:03] brunocdsoliveira commented on #99
I don't think we should allow empty expressions. This does not make sense in functional programming. What we should have is a transparent mapping from Java void type to Unit. So, for example, if we have:

System.out.println("Hello")

the type of this should show up as

Unit

in our language. That's exactly what Scala does, I think.

[2015-03-10 11:05] bixuanzju commented on #99
@brunocdsoliveira This is exactly the case in `f2j` now.

[2015-03-10 11:13] zonyitoo commented on #99
`java.lang.System.out.print(x)` returns a Unit?

[2015-03-10 11:15] zhiyuanshi opened #101 "Java `void` should maps to `Unit`"
[code]

Current status:
[code]

Notes:
1. Despite the error message, what should be worked on should be the type checker, not the simplifier.
2. The mapping should be bidirectional ideally. Some thoughts are needed.

[2015-03-10 11:16] zhiyuanshi commented on #99
@zonyitoo Please refer to Issue #101.

[2015-03-10 11:20] zhiyuanshi commented on #91
Solved entirely since commit 211595effa964c0e9f273b54cdc628e9d8ddeec0.

[2015-03-10 11:20] #91 closed

[2015-03-10 11:30] zonyitoo commented on #99
@bixuanzju Does `f2j` already has "sequencing notation"? Because `"abc"; "abc"` is also a parse error. (`{ "abc"; "abc" }` works).

What I want in here is just to clarify that whether "empty expression" should be supported in `f2j`.

@zhiyuanshi Thanks.

[2015-03-10 11:32] zhiyuanshi commented on #99
@zonyitoo Yep and you'll need to the enclosing curly braces and at least one expression inside. See the [Cheatsheet](https://github.com/hkuplg/fcore/blob/develop/doc/cheatsheet.md) and search for "Expression sequences".

[2015-03-10 12:11] bixuanzju commented on #99
@zonyitoo Apparently I didn't know that we already had "expression sequences".

I think "empty expression" is effectively equivalent to `()`. So you might want to write `()` when you mean empty expression. BTW, should this issue be closed?

[2015-03-10 12:13] #99 closed

[2015-03-10 13:14] zhiyuanshi opened #102 "Handle conditional expressions with non-identical types"
Source:
[code]

Output:
[code]

System FI:
[code]

FCore:
[code]

Simplify did not generate valid a System F expression in this case.

[2015-03-10 15:29] #93 closed

[2015-03-11 01:50] bixuanzju commented on #35
@tomtau Can you give an example?

[2015-03-11 01:52] #72 closed

[2015-03-11 02:40] zhiyuanshi commented on #34
@wxzh Can you look at this?

[2015-03-11 02:41] zhiyuanshi commented on #34
Is this done?

[2015-03-11 02:49] tomtau commented on #34
@zhiyuanshi names are propagated, but not generated, because it'd involve quite a bit of changes in the backend, since variables are not only generated from the Closure F vars: the type representing vars in the backend should changed (for instance, in a few places, it pulls integer from the state monad and generates a variable with default name -- nothing in that context stores the original name)

[2015-03-11 02:58] zonyitoo commented on #98
@zhiyuanshi I still get the same compile error. Is this really fixed?

[2015-03-11 03:03] tomtau commented on #35
For instance, if you compile Tailfact.sf - look at lines 42-45:

[code]

Or in EvenOdd:

[code]

These null-output assignments are redundant.

[2015-03-11 03:22] zonyitoo opened #103 "Support "_" as variable name"
[code]

[2015-03-11 03:29] zonyitoo opened #104 "Compiler should indicate line:column when reporting a type mismatch"
Currently compiler will only report like this

[code]

I won't be able to know where the type mismatch happens exactly, unless I compile the file every time I modify one single component, or remove those new lines one by one to find out which line to blame.

That wastes time!!

[2015-03-11 03:31] zonyitoo commented on #104
May relate to #90

[2015-03-11 03:32] zhiyuanshi commented on #104
Duplicate issue

[2015-03-11 03:32] #104 closed

[2015-03-11 04:07] zhiyuanshi commented on #90
@wxzh Do you have time to take a look at this?

[2015-03-11 06:00] wxzh commented on #103
@zonyitoo Have a try :)

[2015-03-11 06:01] zonyitoo opened #105 "Possible bug that lead to miscalculation"
The following are the supporting code

[code]

First test is to validate whether `bind` function works as expecting

[code]

The call to `seq` function should produce output `[(('a', 'a'), "ab")]`, that means the `bind` function works. But if I write a `many` function like this

[code]

The expecting output is `[("", "aaab"), ("a", "aab"), ("aa", "ab"), ("aaa", "b)]`, which length should be 4. But

[2015-03-11 06:07] zonyitoo commented on #103
@wxzh It works! :+1:

[2015-03-11 06:36] zhiyuanshi commented on #98
@zonyitoo Should be okay now. You may close this if you think so.

[2015-03-11 06:43] zhiyuanshi commented on #103
What about this (note the `_x`):

[code]

Output:

[code]

[2015-03-11 06:47] wxzh commented on #103
@zhiyuanshi, _x is not a valid variable name, right?

[2015-03-11 06:50] zhiyuanshi commented on #103
I think it should be a valid variable name for constructing patterns. C.f.:

[code]

[code]

[2015-03-11 06:56] wxzh commented on #103
Haskell allows variable names starting with _, while our language does not. E.g.,

[code]

[2015-03-11 06:57] brunocdsoliveira commented on #103
"_" should not be a variable name: instead it should be a built-in construct of the language. For example, in Haskell, we cannot do this:

id _ = _

That would be allowed _if_ "_" would indeed be a valid variable name. However, as George points out "_x" is ok. If you try to write in Haskell:

id _x = _x

That is ok.

[2015-03-11 07:00] brunocdsoliveira commented on #103
On the other hand having variables starting with underscore is a different feature request.

[2015-03-11 07:03] brunocdsoliveira commented on #105
Sounds like this could be a backend bug. Can you investigate Jeremy?

[2015-03-11 07:04] brunocdsoliveira commented on #105
You may want to try to minimise the program to make debbuging easier.

[2015-03-11 07:05] zhiyuanshi commented on #103
Btw, actually in Haskell, the `_x` of the LHS of `let` is a pattern, not a simple guy. I imagine the parse rule is something like:

[code]

Besides, I don't think `_` should be treated as a special token.

[2015-03-11 07:08] brunocdsoliveira commented on #103
If it is not treated as a special token (and treated as a variable instead, say), how do you ignore two parameters, as in Haskell:

f _ _ = 1

?

[2015-03-11 07:12] wxzh commented on #103
The only way to do pattern matching is using `case` expr in our language for now. Patten matching everywhere can not be supported in the near future.

This issue can be solved if we change the lexer to allow variable names starting with '_', then "_x" will be parsed as a single token instead of two tokens.

[2015-03-11 07:13] bixuanzju commented on #105
I am working on!

[2015-03-11 07:14] zhiyuanshi commented on #103
Now, checking conflicting definitions like `let f (x: Int) (x: Int) ...` is performed at the type checker. I think it won't allow conflicting names unless they are exactly `_`.

`_` is different from, say, `_x`. Because `_` cannot be an expression (i.e., appearing on the RHS of `=`) while `_x` can.

[code]

[2015-03-11 07:18] zhiyuanshi commented on #103
@wxzh `_x` being parsed as a single token makes sense to me. That may interfere with `_1` as in tuple projection. But that's another story.

[2015-03-11 07:20] bixuanzju commented on #105
@zonyitoo It might be your own problem, but porting your code to Haskell yields 0 as well

[code]

You may want to refer to http://www.cs.nott.ac.uk/~gmh/pearl.pdf

[2015-03-11 07:23] wxzh commented on #103
So the variable name rule becomes `'_'[$digit$alpha'_']+ | old_rule`, right?

[2015-03-11 07:40] zhiyuanshi commented on #103
@wxzh I suggest `'_'[$alpha'_']` to avoid conflict with `Tunderid`.

[2015-03-11 07:43] wxzh commented on #103
@zhiyuanshi disallow `_x1`? I think `'_'$alpha[$vchar]*` is a better option

[2015-03-11 07:48] zhiyuanshi commented on #103
@wxzh Oh, you're right.

[2015-03-11 07:49] wxzh opened #106 "Please let `make smt` run again"
Error message:
[code]

After doing `git bisect`, the commit 211595e is to blame.

[2015-03-11 07:51] bixuanzju commented on #105
@zonyitoo It's the bug in your definition of `many`

[code]

[2015-03-11 07:51] #105 closed

[2015-03-11 07:53] wxzh opened #107 "Support variable names starting with underscore"
`_x1` is a valid variable name while `_1x` and `_` are not valid.

[2015-03-11 07:59] zhiyuanshi commented on #106
@wxzh Haven't found a good reference on installing `z3`. Do you know how to do that on Ubuntu?

[2015-03-11 08:01] wxzh commented on #106
Two steps: 1) Install it from source 2) do `cabal install z3` (need to specify the directory of the source)

[2015-03-11 08:01] bixuanzju commented on #36
I think it has been properly done long ago.

[2015-03-11 08:01] #36 closed

[2015-03-11 08:08] wxzh commented on #103
@zhiyuanshi all variable names starting with _  including `_A` are considered as lowerid, right?

[2015-03-11 08:13] zhiyuanshi commented on #103
@wxzh Yes.

[2015-03-11 08:14] zhiyuanshi commented on #106
@wxzh Ok. Let me try.

[2015-03-11 08:37] zhiyuanshi commented on #103
Some work left in the type checker needs to be done.

[2015-03-11 08:47] #98 closed

[2015-03-11 08:56] #106 closed

[2015-03-11 09:09] zhiyuanshi commented on #90
I think we should raise the urgency of this issue. Otherwise it'll be hard to work in our language.

[2015-03-11 09:10] bixuanzju commented on #90
+1

[2015-03-11 09:41] brunocdsoliveira commented on #90
Your are the issue manager :). If you think it is urgent, make it urgent!

One thing that may help on the meantime is to also print the expression with the type-error. Although this is not as precise as a line number, it will definitely help pinpointing where the problem is (and I guess it is easier to implement).

[2015-03-11 09:52] zonyitoo commented on #105
@bixuanzju THANK YOU!!!!! I just read this comment, it is very very helpful!

[2015-03-11 10:04] bixuanzju commented on #105
@zonyitoo I would like to kindly recommend writing code in Haskell first, test it and then port it to our language line by line when writing libraries (this is exactly how I found your bug) :)

[2015-03-11 10:08] zonyitoo commented on #105
@bixuanzju actually, what I write in Haskell is

[code]

I have made a mistake on translating `[[]]` to F2J code... That's my fault.

This make me think about asking support of **Type Class**... Haha ;)

[2015-03-11 10:57] zonyitoo commented on #107
Why `_1x` is not valid?

[2015-03-11 12:02] wxzh commented on #107
In principle, even `_1` should be valid. But to avoid potential interference with tuple projection (see #103 discussion). We force users to write this way for now. It can be improved later.

[2015-03-11 12:22] zonyitoo opened #108 "Need support of `error` to represent unrecoverable logical error"
We probably need support of `error` just like the one in Haskell. It won't be able to write one by user, because that will cause a *type mismatch* error.

Example use case:

[code]

If I define `error` like this

[code]

It won't compile, because of type mismatch. So I think compiler should see `error` function as a special case, or provide mechanisms to support throwing exception.

In Haskell, th

[2015-03-11 12:24] zonyitoo commented on #108
Moreover, if I define `error` like this

[code]

[2015-03-11 12:30] zonyitoo commented on #107
@wxzh Indeed. It would be fixed when pattern matching on Tuples is ready.

[2015-03-11 13:36] zonyitoo commented on #103
@zhiyuanshi @wxzh I found a bug

[code]

Compiler reports a parse error near `_`.

[2015-03-11 13:39] zonyitoo opened #109 "Require support of negative operator"
[code]

Compiler reports a parse error near `-`.

[2015-03-11 14:16] wxzh commented on #103
@zonyitoo It is not a bug. Wildcard pattern (aka `_`) has not been implemented. `case` expr is the only place you can use `_`. In here, you can use `__` to name it if you'd like, which is a valid variable name.

[2015-03-11 15:24] zhiyuanshi commented on #90
@brunocdsoliveira copy :+1:

[2015-03-11 15:34] zonyitoo opened #110 "NullPointerException happens on recursive calls"
[code]

Compile passed but threw `java.lang.NullPointerException` in runtime.

Corresponding Haskell is

[code]

When calling `func1`, it should be an infinity loop.

It is a simplified test case.

[2015-03-11 15:36] zonyitoo commented on #110
Moreover, this is invalid in F2J

[code]

Compiler reported `error: ‘func1’ is not in scope`. It make sense, but could be improved.

[2015-03-11 15:38] bixuanzju commented on #110
@zonyitoo In you second example, if you mean mutually recursive functions, you should use `let rec ... and` syntax like

[code]

[2015-03-11 15:39] zhiyuanshi commented on #110
I would like to thank @zonyitoo a lot for reporting those interesting cases!

[2015-03-11 15:40] zonyitoo commented on #110
@bixuanzju You can try to run your code, it should report null pointer exception.

[2015-03-11 15:41] bixuanzju commented on #110
@zonyitoo Exactly, assign it to me now.

[2015-03-11 15:47] bixuanzju commented on #110
@zonyitoo According to our translation rules, `java.lang.NullPointerException` is expected. After all, this is a problematic program. In Haskell, it will loop forever, and in our language, it will throw exception. May I ask what is your expected result?

[2015-03-11 15:52] zonyitoo commented on #110
@bixuanzju I want to write a simple parser to parse arithmetic expression, the definition in Haskell is

[code]

Please pay attention on the definition of `expr` and `factor`. I got a null pointer exception when I try to run a test on F2J. The example on the top is a simplified case of this.

[2015-03-11 16:06] bixuanzju commented on #110
@zonyitoo Could you show me the full f2j program? I don't understand "The example on the top is a simplified case of this", if this is the case, then your definition is wrong because you said the Haskell version will go to infinite loop, let alone our own version.

[2015-03-11 16:07] zonyitoo commented on #110
Alright. Please refer to https://github.com/zonyitoo/parser-combinators-f2j/blob/master/src/parser.sf#L199

[2015-03-11 16:16] zonyitoo commented on #40
How about status of this issue?

[2015-03-11 16:34] zonyitoo opened #111 "The type parameter of functions that have only one generic typed parameter should not be omited"
[code]

This works in F2J currently. Then why shouldn't this work

[code]

or neither of them should work

[2015-03-11 16:38] zonyitoo opened #112 "Does F2J allow redefinition?"
[code]

Compiler said nothing about it, the second one just shadows the first one.

[2015-03-11 16:47] zonyitoo opened #113 "Symbol not in scope error in "block""
[code]

[2015-03-11 23:59] brunocdsoliveira commented on #112
yes f2j allows redefinition.That's not a bug. It is actually intended.

[2015-03-12 00:06] brunocdsoliveira commented on #110
@zonyitoo There is an important difference between fcore and Haskell: Haskell is a lazy language, whereas f2j is not. Therefore programs such as:

ones = 1 : ones

which are fine in Haskell will not work directly in fcore. fcore is in that sense like Scala, OCaml or other call-by-value functional languages. As George when you meet him this morning about call-by-name arguments and Thunks, which you

[2015-03-12 01:34] zonyitoo commented on #112
@brunocdsoliveira Alright!

[2015-03-12 01:34] #112 closed

[2015-03-12 02:17] zonyitoo opened #114 "Inconsistent tuple types"
[code]

I know the type of `()` is `Unit`, but shouldn't we unify all of them?

[2015-03-12 02:21] zonyitoo opened #115 "Compiler warning "Unsupported: Simplify.infer""
[code]

Compiler reports

[code]

[2015-03-12 02:52] bixuanzju commented on #111
The first example looks like we have type inference working for it. I guess type inference is still work in process.

[2015-03-12 02:55] zonyitoo commented on #111
@bixuanzju : @zhiyuanshi told me that is just a special case

[2015-03-12 02:59] bixuanzju commented on #110
@zonyitoo I still can't figure out what's wrong. Could you provide me a simplified test case where the Haskell version can run, whereas ours not.

[2015-03-12 03:08] zonyitoo commented on #110
@bixuanzju I know the version that I just provided to you is a left recursive definition, so it won't end even in Haskell. So I just write a non-left-recursive (looks non-left-recursive) version: https://github.com/zonyitoo/parser-combinators-f2j/blob/master/src/parser.sf#L199.

Moreover, I think @brunocdsoliveira is right, we need lazy evaluation, which is call-by-name in this situation. The `exa

[2015-03-12 03:17] zhiyuanshi commented on #114
We take the Scala approach: `()` vs `Unit`.

[2015-03-12 04:43] zhiyuanshi commented on #113
This isn't a bug strictly speaking. But you've touched a very confusing spot for programmers, arising from the interaction of syntax.

What you wrote is in fact:

[code]

That's why the second `anInt` is not in scope.

Will fix this.

[2015-03-12 05:21] zonyitoo commented on #113
@zhiyuanshi If the `;` that ends `let` expression is `in`, why you removed the `in`?

[2015-03-12 05:39] zonyitoo commented on #110
Here is a Haskell version of the parser, which works exactly what I want.

[code]

[2015-03-12 05:44] zonyitoo commented on #110
To explain that, the code in Haskell

[code]

are similar in F2J

[code]

except that the F2J program supports add, sub, mul and div operations. The Haskell program works while F2J program crashes with null pointer exception.

[2015-03-12 06:40] zonyitoo commented on #114
@zhiyuanshi I would prefer Haskell's style, use `()` as the type of `()`.

[2015-03-12 08:59] xnning commented on #74
A simple syntax sugar for pattern matching on string is available.

[code]

it will be desugared to

[code]

Hope it will make coding a little bit easier..

[2015-03-12 08:59] bixuanzju commented on #28
A temporary solution is working. @hy-zhang is implementing a better one.

[2015-03-12 09:18] bixuanzju commented on #114
@zonyitoo (I am taking the role of issue manager now) Let's settle this issue by saying that since our language is targeting Java, we want every type name corresponds to a Java Class or Interface. `Unit` is a sensible name for Java `Void` Class. Besides, since we use square brackets `[]` for type application, personally I find something like `id[()] ()` quite strange.

Anyway, this is mostly a mat

[2015-03-12 09:23] bixuanzju commented on #111
@zonyitoo This issue is about type inference, which is yet to be implemented. For now, you can think we need types everywhere.

If you are OK, I'd like to close it.

[2015-03-12 09:25] bixuanzju commented on #110
Hmm, this is still somewhat complex to debug. Could you simplify it further to a minimal example?

[2015-03-12 09:42] bixuanzju commented on #86
Fixed in commit 60241e4.

[2015-03-12 09:42] #86 closed

[2015-03-12 09:47] bixuanzju commented on #57
@EmmaBYPeng  Hi Emma, are you working on that? If you think you won't do it any time sooner, I'd like to label it as minor.

[2015-03-12 09:55] #62 closed

[2015-03-12 10:05] bixuanzju commented on #49
@hy-zhang confirmed no use of `unsafeCoerce`

[2015-03-12 10:05] #49 closed

[2015-03-12 10:07] bixuanzju commented on #40
@zonyitoo Won't be implemented any time sooner.

[2015-03-12 10:08] bixuanzju commented on #34
@tomtau Are you working on it now or you don't think it will be done any time sooner.

[2015-03-12 10:10] bixuanzju commented on #30
@tomtau Are you working on that now?

[2015-03-12 11:16] brunocdsoliveira commented on #74
Thanks Ningning!

[2015-03-12 11:20] brunocdsoliveira commented on #78
Perhaps this can be assigned to ningning or linusyang if they feel like doing some implementation?

[2015-03-12 11:26] linusyang commented on #78
@brunocdsoliveira Okay. Let me try it if @xnning is busy with other issues. Do we need to polish the current proposed syntax of interpolation, @zhiyuanshi ?

[2015-03-12 11:38] #114 closed

[2015-03-12 11:38] zonyitoo commented on #114
@bixuanzju Alright

[2015-03-12 11:39] zonyitoo commented on #111
@bixuanzju Nope. I am not asking for type inference in this issue. I just asking why the first example is a special case?

[2015-03-12 11:42] brunocdsoliveira commented on #113
Does:

[code]

solve the problem? I suspect parsing has the wrong precedence in this case.

[2015-03-12 11:44] zhiyuanshi commented on #78
@linusyang Not sure. Check this out: http://en.wikipedia.org/wiki/String_interpolation

[2015-03-12 11:48] bixuanzju commented on #111
@zonyitoo I asked George about that. This is because it is very easy to implement in the first example, he did it just for convenience. If you dislike, we can comment out affected code. In general, you need to write type arguments everywhere.

[2015-03-12 11:57] zonyitoo commented on #110
@bixuanzju I think this should be considered as a bug, not a question. It is obviously that there is a bug in here but it is hard to locate. I am trying to simplify it.

Actually, if the example that on top work, maybe it will work too.

[2015-03-12 11:58] zonyitoo commented on #111
@bixuanzju Alright. Understood.

[2015-03-12 11:58] #111 closed

[2015-03-12 12:15] brunocdsoliveira commented on #110
@zonyitoo: I think your program would loop in a call-by-value language (say Scala). Try this instead:

[code]

[2015-03-12 12:29] zonyitoo commented on #110
@brunocdsoliveira THAT IS UNBELIEVABLE! It works!

Why the following two piece of code is different?

[code]

The code above reports null pointer exception.

[code]

The above code works fine!!

And why Haskell works??

[2015-03-12 13:19] brunocdsoliveira commented on #110
well, in a call-by-name language eta-expansion:

[code]

is indeed a valid equality. But that is not true in a call-by-value language. Suppose e is a program that loops, lets call that program infinity.  Now suppose that you have the following two programs:

[code]

and

[code]

Then in a call by value you'll get the following:

[code]

~~>

[code]

and

[code]

~~>

[code]

This is precisely what

[2015-03-12 13:26] zonyitoo commented on #110
@brunocdsoliveira

I see!! Thanks Dr. Oliveira!!

[2015-03-12 13:36] brunocdsoliveira commented on #110
You are welcome: a free lesson on Programming Languages ;)

[2015-03-12 14:09] bixuanzju commented on #110
Problem solved

[2015-03-12 14:25] brunocdsoliveira commented on #110
@bixuanzju: Not quite. There is still a problem in that those NullPointerExceptions should not be happening. The better solution would be that letrec would have a syntactic requirement that there is at least one argument to the function. However this is not a big priority.

[2015-03-12 18:00] tomtau commented on #34
I thought I could do it together with unboxing, since that also involves changing the type and rewriting the backend

[2015-03-12 18:02] tomtau commented on #30
I've been waiting for major refactoring to be done, so I can start rewriting in a version that will be easier to merge - I guess most changes are done by now?

[2015-03-12 19:49] zonyitoo opened #116 "Require support of unary operator"
Unary operator, such as `!`, `~`, `-`, ... should be supported, because I cannot do this currently

[code]

[2015-03-12 19:50] zonyitoo commented on #109
Should redirect to #116

[2015-03-13 01:30] EmmaBYPeng commented on #57
Sure!

[2015-03-13 02:05] #109 closed

[2015-03-13 02:06] bixuanzju commented on #30
@tomtau yes

[2015-03-13 03:01] zonyitoo commented on #116
@bixuanzju Is it easy to implement?

[2015-03-13 03:12] bixuanzju commented on #116
@zonyitoo I suppose, but do ask George for help.

[2015-03-13 04:10] bixuanzju commented on #116
@zonyitoo I ask @lihuanglx to implement it. For the moment, could you just define your own version of `not`, say

[code]

[2015-03-13 04:14] zonyitoo commented on #116
@bixuanzju Alright, thanks.

[2015-03-13 04:16] bixuanzju commented on #78
@linusyang Hi Linus, are you going to pick the task?

[2015-03-13 04:59] linusyang commented on #78
@bixuanzju Sure. The current proposal for string interpolation is all right for me. I'll follow this syntax.

[2015-03-13 05:01] bixuanzju commented on #78
@linusyang Nice! I will assign the task to you.

[2015-03-14 02:43] zonyitoo opened #117 "Conflict definition of classes"
Currently `thunk.sf` will be compiled to Java as a class named `Thunk`, so if I defined a

[code]

in `thunk.sf`, then javac will report duplicated definition of `Thunk`.

[2015-03-14 03:19] bixuanzju commented on #117
Right! In runtime, we also have a Java file named `Thunk`. You'd better not use that name.

[2015-03-14 03:22] zonyitoo commented on #117
@bixuanzju `Thunk` is just an example. No matter what I name this, it should not be duplicated.

[2015-03-14 03:27] bixuanzju commented on #117
Sorry I misunderstood you question.

[2015-03-14 03:36] xnning commented on #117
having a file named `fun1.sf`
with code

[code]

will generate

[code]

file name will clash with any generated class name in runtime.

[2015-03-14 03:39] xnning commented on #117
sorry the error message is in Chinese...

it says duplicated class definitions of Fun1

[2015-03-14 03:41] zonyitoo commented on #117
Thanks @xnning for clarifying the question...

[2015-03-14 03:50] bixuanzju commented on #117
@zonyitoo Those `Fun*` class definitions are generated by the compiler. It's hard-coded in it. Let me see if I can change the file name if conflicts.

@xnning I am not familiar with `datatype` generation. Seems the generated class will reuse the same name as in the program. Do you have any way to workaround it?

[2015-03-14 04:01] zonyitoo commented on #117
@bixuanzju I think if the #34 solved, then this problem won't be existed.

[2015-03-14 04:05] wxzh commented on #117
For now, every generated datatype class in java has the name of the corresponding datatype declaration in user programs. This naming strategy which will cause error if the file shares any one of datatype names.

A potential workaround can be: using "filename + datatype name" to be the name of datatype classes instead of using the user-provided names directly.

[2015-03-14 04:07] zonyitoo opened #118 "Type mismatch in generated Java code"
[code]

I don't think there is a type mismatch in this piece of F2J code, but when javac reports a type mismatch on the generated Java code, which said it tried to assign a `PList` to a variable with type of `Closure`.

Forget the name of `Thunk`, you can change the name to whatever you want. ;)

[2015-03-14 04:09] zonyitoo commented on #117
@wxzh or we should come up with a name mangling style.

[2015-03-14 04:09] zonyitoo commented on #118
r: @xnning

[2015-03-14 04:11] xnning commented on #117
`Fun*` `Let*` and datatype, these three things may use a common strategy to void the name clash?

@zonyitoo i think issue 34 is not related to this one. Anyway, file name can be anything.

@wxzh  this seems feasible.

[2015-03-14 05:11] zonyitoo commented on #118
Fixed, but this piece of code should report null pointer exception, because of #110

[2015-03-14 05:11] #118 closed

[2015-03-14 05:13] bixuanzju commented on #116
@lihuanglx Hi, what is the status now?

[2015-03-14 05:16] bixuanzju commented on #117
@xnning Do you want to tackle it?

[2015-03-14 05:21] lihuanglx commented on #116
Working on it.

[2015-03-14 06:11] bixuanzju commented on #65
@EmmaBYPeng Hi Emma, are you working on that now?

[2015-03-14 06:28] EmmaBYPeng commented on #65
Yep!

[2015-03-14 07:38] bixuanzju commented on #116
@zonyitoo adding unary operators could possibly cause parsing ambiguities. We decide to only support unary minus `-`, but you have to explicitly add brackets when you mean so, e.g., `f -3` will be parsed as binary subtraction `f - 3`, while `f (-3)` is parsed to `f` applied to `-3`, just like Haskell. For boolean `not`, it'e better to treat it as a function, before we have some sort of `Prelude` l

[2015-03-14 07:49] lihuanglx commented on #116
Or use `== False` instead of `not`.

[2015-03-14 08:09] zonyitoo commented on #116
@bixuanzju understood.

[2015-03-14 10:40] #116 closed

[2015-03-14 10:41] bixuanzju commented on #40
@lihuanglx So this is done?

[2015-03-14 10:45] brunocdsoliveira commented on #40
There is a difference between infix operators and been anle to use prefix functions as infix functions. I believe Huang implemented the later, bit not the former.

[2015-03-14 10:54] bixuanzju commented on #40
Alright, so
- [x] Using prefix functions with infix notation, e.g.,

[code]
- [ ] Using infix functions with prefix notation, e.g.,

[code]

[2015-03-14 11:36] brunocdsoliveira commented on #40
Well, what I meant was, being able to define infix operators, such as:

(+++) :: [a] -> [a] -> [a]

in Haskell. Which then you can use as:

[1,2] +++ [3,4]

I believe this is also what @zonyitoo meant.

[2015-03-14 11:53] zonyitoo commented on #40
@brunocdsoliveira Yes, exactly.

[2015-03-14 12:14] xnning commented on #117
@bixuanzju ok, it's mine! Use the strategy weixin suggest?

[2015-03-14 15:06] xnning opened #119 "closuref fail in data type"
dumpclosuref fails.
[code]

besides, duplicated cases should not be allowed when type check
[code]

[2015-03-15 03:09] EmmaBYPeng commented on #65
@zonyitoo Do you expect to mix data, type and function declarations together in a single module or is it ok if they are in separate files?

[2015-03-15 03:15] zonyitoo commented on #65
@EmmaBYPeng It would be better if I can define data, type and function together, in one file. Just like what Haskell did.

[2015-03-15 03:32] zonyitoo opened #120 "Wide-cards in pattern match"
[code]

[2015-03-15 04:02] zonyitoo opened #121 "Cannot import/construct normal Java object"
[code]

[code]

And there is no way to import Java packages.

[2015-03-15 04:17] zonyitoo commented on #40
@lihuanglx Seems it does not work with type parameters

[code]

And it also failed to handle this case

[code]

[2015-03-15 04:32] wxzh commented on #40
1. Define something like `let conInt = cons[Int]` will avoid the problem
2. Application inside backquote is not allowed, even in Haskell

BTW, `cons` (and `length`, `nil` ...) has been occupied as a keyword. @zonyitoo

[2015-03-15 04:37] zonyitoo commented on #40
@wxzh Alright. Then the second one should not be allowed.

The first case should be supported.

[2015-03-15 04:46] zonyitoo commented on #65
@EmmaBYPeng BTW, I think you should also consider about the unified entrance of the program when modules are supported. Such as the `main` function in most of existing languages.

[2015-03-15 05:26] wxzh commented on #119
Duplicated patterns should be allowed if we want to do deep pattern matching in the future, e.g.,

[code]

For now, we must make sure that latter duplicated patterns will be never executed.

[2015-03-15 05:34] wxzh commented on #90
Partially done. For now, most cases are covered except those without expression or location information in type-checking.

Possible further improvement:
1. Tagging types with location
2. Tagging names with location
3. Change type-checking monad to trace current expression
4. Improve the accuracy of the location

[2015-03-15 05:38] xnning commented on #119
@wxzh  Agree.

[2015-03-15 06:13] bixuanzju commented on #121
In the first example, to workaround, try

[code]

This is a known issue #97

We won't support generic Java interoperation natively. One way to achieve the similar effect is to wrap it into non-generic method call in your own Java file, and let `f2j` compiler know it.

[2015-03-15 06:19] bixuanzju opened #122 "Stack translation doesn't work with case expression"
Currently stack translation doesn't handle correctly case expressions (not detecting tail call position).

[2015-03-15 07:22] bixuanzju commented on #122
@zonyitoo Let me know if it works

[2015-03-15 07:40] lihuanglx commented on #40
@zonyitoo Type parameters supported.

[code]

[2015-03-15 07:41] lihuanglx commented on #40
Sorry.. misclicked

[2015-03-15 08:00] bixuanzju commented on #117
@EmmaBYPeng Emma, could look at commit c441f92, I added a test case named "Fun1.sf", `make test2` read

I can run the file manually.

[2015-03-15 08:06] EmmaBYPeng commented on #117
What about `make test`?

[2015-03-15 08:11] bixuanzju commented on #117
Don't use `make test` now. It's fake (won't report anything useful)

[2015-03-15 08:12] EmmaBYPeng commented on #117
Ok, let me see what I can do!

[2015-03-15 08:16] EmmaBYPeng commented on #117
@bixuanzju Hi jeremy I tried `f2j -r Fun1.sf` and got `./Fun1.java:5: error: class Fun1 is already defined in package unnamed package
    class Fun1 extends f2j.Closure
    ^
1 error
Error: Could not find or load main class Fun1`

[2015-03-15 08:18] bixuanzju commented on #117
@EmmaBYPeng You didn't pull the latest code?

[2015-03-15 08:19] EmmaBYPeng commented on #117
Yes I did.

[2015-03-15 08:22] bixuanzju commented on #117
That's odd...

![screen shot 2015-03-15 at 4 21 34 pm](https://cloud.githubusercontent.com/assets/1680704/6655213/610c5fca-cb2f-11e4-8f0b-69857fe5e9b3.png)

[2015-03-15 08:25] EmmaBYPeng commented on #117
Ah I forgot to make...

[2015-03-15 08:46] EmmaBYPeng commented on #117
@bixuanzju `make test2` uses `sf2java False NoDump opt className contents` to translate systemF to java, would it be a problem?

[2015-03-15 08:50] zonyitoo commented on #40
@lihuanglx excellent

[2015-03-15 08:51] zonyitoo commented on #121
@bixuanzju the workaround seems magic hack... could it be fixed?

[2015-03-15 09:04] lihuanglx commented on #121
@zonyitoo That's because we also have unit as `()`, the parser will get confused.

I suggest you to use this hack for now, when it get fixed you could simply replace all `( )` with `()` in your code.

[2015-03-15 09:07] zonyitoo commented on #121
@lihuanglx ah, i see. thanks.

[2015-03-15 09:18] #121 closed

[2015-03-15 09:25] zonyitoo opened #123 "Incorrect return type of a Java method"
Talk is less, let's see the test case ;)

[code]

In Java's official documents, the return type of `append` is `java.lang.StringBuffer`, but it seems that compiler believes it should be `java.lang.AbstractStringBuilder`.

If you tried to wrap it like this

[code]

`javac` will complain about `java.lang.AbstractStringBuilder` is private.

[2015-03-15 09:29] zonyitoo commented on #122
[code]

If I call this function with

[code]

It should show [10000, 9999, 9998, ..., 1], but it only shows [10000].

Full program has been sent to @bixuanzju .

[2015-03-15 09:33] zonyitoo commented on #122
@bixuanzju yes! it works!!!

[2015-03-15 09:40] #122 closed

[2015-03-15 10:40] lihuanglx commented on #40
[code]

Or regard `(++)` as a normal function as below.

[code]

[2015-03-15 11:57] zonyitoo commented on #40
@lihuanglx  Is that work now? Here is a parse error

[code]

[2015-03-15 12:01] zonyitoo commented on #40
@lihuanglx how to call this function

[code]

how to apply the type parameter??

[2015-03-15 12:12] lihuanglx commented on #40
@zonyitoo
1. Only `!#$%&*+./<=>?@\^|-~` supported, please try another symbol instead `:`.
2. Just like a normal function, `list1 ++[Int] list2`.The type inference is not strong enough now, so it needs explicit type notation -_-||.

[2015-03-15 12:14] zonyitoo commented on #40
@lihuanglx alright, sounds reasonable. ;)

[2015-03-15 12:44] zonyitoo commented on #40
@lihuanglx i can't define an operator named `<+>` or `<|>`? They are in your supported list.

[2015-03-15 13:12] lihuanglx commented on #40
[code]

Maybe you forgot the parentheses?

Like Haskell, it requires parentheses in the definition.

[2015-03-15 13:16] zonyitoo commented on #40
@lihuanglx Ah!!! Stupid mistake! Thanks!!!

[2015-03-16 00:56] bixuanzju commented on #40
@lihuanglx Do you consider this feature fully implemented?

[2015-03-16 01:45] lihuanglx commented on #40
@bixuanzju Yes, it should be closed now.

[2015-03-16 02:59] brunocdsoliveira commented on #40
@lihuanglx Do you allow infixity declarations for the operators, as in Haskell?

[2015-03-16 03:08] lihuanglx commented on #40
@brunocdsoliveira

Sorry, I didn't take that into consideration. I'll improve it.

The new goal is to allow:

[code]

[2015-03-16 03:30] zonyitoo commented on #40
@lihuanglx How about associativity?

[2015-03-16 03:32] lihuanglx commented on #40
@zonyitoo All user defined operators have left associativity and the highest precedence.

[2015-03-16 03:34] zonyitoo commented on #40
@lihuanglx it would be better if operators could supports right associativity, or you will have to add brackets around them.

[2015-03-16 03:40] lihuanglx commented on #40
@zonyitoo Thanks, I'll consider that.

[2015-03-16 03:41] bixuanzju commented on #40
@zonyitoo @lihuanglx In Haskell, you can define the associativity, say

[code]

I don't know if it's easy to implement in our language. Since most operators are left associative, it's reasonable to use it as default.

[2015-03-16 03:43] zonyitoo commented on #40
@bixuanzju I agree with making left associativity as default, but some of the operators have to be right associative. Such as `:` in Haskell, or the magical `$` operator in Haskell.

[2015-03-16 04:16] bixuanzju commented on #123
@lihuanglx Can you look at it? I suspect something wrong in `TypeServer`

[2015-03-16 04:24] brunocdsoliveira commented on #40
@lihuanglx what I suggested above was to allow infixity declarations, such as the one Jeremy has shown:

[code]

so that the default settings can be overriden. This may require some more work.

I didn't mean to allow this:

[code]

This does not seem helpful to me.

[2015-03-16 04:40] bixuanzju commented on #117
For datatype name clash, see #119

[2015-03-16 08:44] VladUreche commented on #30
@tomtau, your approach looks very good. There is a slight difference when comparing to miniboxing and specialization in Scala: classes have specialized variants, where only one type of the fields appears (not both primitive and object) -- and all access is done through methods, which are overloaded.

Here's (an unrelated) document that happens to explain this: https://docs.google.com/document/d/12

[2015-03-16 11:55] bixuanzju commented on #107
@zonyitoo Tuple in f2j is a primitive type, not a datatype like in Haskell. So pattern matching on tuples needs some major changes in backend. Let's close this issue.

[2015-03-16 11:55] #107 closed

[2015-03-16 11:57] zonyitoo commented on #107
@bixuanzju Alright, never mind.

[2015-03-16 11:59] xnning commented on #117
Is it a temporary hack? will compiler use front end name in generated file in the future, such as #34?

[2015-03-16 12:00] bixuanzju commented on #54
@lihuanglx Hi Huang, what's the status of this issue.

[2015-03-16 12:02] bixuanzju commented on #119
@xnning Hi Ningning, what's the status of this issue?

[2015-03-16 12:12] xnning commented on #119
@bixuanzju this is finished. duplicated cases may be enhanced in the future.
the data type part in #117 is not yet. Btw, the changing file name strategy is a temporary solution?

[2015-03-16 12:13] bixuanzju commented on #117
@xnning Sort of. Even if #34 is resolved, there are still chances that function name will conflict with the file name.

[2015-03-16 12:16] bixuanzju commented on #119
@xnning Yes!

[2015-03-16 12:18] xnning commented on #117
@bixuanzju Currently each class name ends with numbers (except data type), so changing the file name can work. It is not the case when #34 is resolved?

[2015-03-16 12:19] bixuanzju commented on #119
@xnning I tried the data type example in #117 , now it's ok. Why do you consider it's not yet finished?

[2015-03-16 12:21] bixuanzju commented on #117
For example, if I name the file `foo.hs`, inside it a function definition, say

[code]

Then the function name `foo` will be propagated to the generated Java file, so there will be a Java class named `Foo`, and it conflicts with the file name, which is `Foo.java`.

[2015-03-16 12:23] tomtau commented on #117
I think we can use Scala's approach: http://www.scala-lang.org/old/node/12186.html

'$' can be used in Java identifiers, but noone knows about it or uses it (no problem to disallow it in the source language identifiers), so it's a good character for name mangling in generated names.

[2015-03-16 12:24] xnning commented on #119
a file name`apple`
with code

[code]

[2015-03-16 12:26] bixuanzju commented on #119
@xnning Alright, let's keep the issue open.

[2015-03-16 12:27] xnning commented on #117
@bixuanzju yes exactly. So after #34 is finished, function name can be anything, just like data type name can be anything. So these two may use the same strategy to avoid name clash. File name changing can not handle it.

[2015-03-16 12:28] xnning commented on #119
@bixuanzju  how about making it separated from the name clash problem.

[2015-03-16 12:29] bixuanzju commented on #119
@xnning As Tomas suggested, what about adding `$` suffix to the datatype class name?

[2015-03-16 13:45] bixuanzju opened #124 "Document how Windows users can compile the project"

[2015-03-16 15:15] #119 closed

[2015-03-16 15:15] #117 closed

[2015-03-17 05:56] zonyitoo opened #125 "Failed to handle Java Array"
[code]

This function should return a `char[]`, but compiler failed to handle it.

What I want to do is to convert a Unicode codepoint to a String.

[code]

[2015-03-17 07:17] bixuanzju commented on #125
This is one restriction of our Java interoperation. Seems we only support class types. I am not sure `char[]` in Java is a primitive type or a class type.

[2015-03-17 07:23] bixuanzju commented on #125
@zonyitoo I find out what goes wrong. Need to investigate a bit.

[2015-03-17 07:33] #115 closed

[2015-03-17 09:22] bixuanzju commented on #125
@zonyitoo It this fixed for you?

[2015-03-17 09:46] bixuanzju commented on #123
@zonyitoo This seems like a bug in JDK, see https://community.oracle.com/thread/1758369

[2015-03-17 10:08] zonyitoo commented on #123
@bixuanzju Seem that I am very lucky. But in this thread, they said this problem actually happens in JDK1.5/1.6. I am already using JDK1.8. So the problem remain existent?

But why the second example still report errors? Seems like the second one is the solution in that thread.

[2015-03-17 10:23] bixuanzju commented on #123
@zonyitoo You can try the following snippet, which basically query the return type of Java method call

[code]

It outputs

[code]

You can see, given argument type `char`, the return type can be `java.lang.AbstractStringBuilder`, or `java.lang.StringBuffer`, and our `TypeServer` will retrieve the first type it finds appropriate, which is `java.lang.AbstractStringBuilder` in this example.

[2015-03-17 11:22] zonyitoo commented on #123
@bixuanzju Indeed, I got the result, too.

[code]

Why this happens? Why it allows the same method overloaded with different return type?

The following snippet actually works with my javac.

[code]

[2015-03-17 11:33] brunocdsoliveira commented on #123
So, am I right that you are getting _two_ results for the query? That is for the overloaded method with a char argument, you are getting 2 possible return types?

If so, is it possible to detect this situation, compare the two resulting types ("java.lang.AbstractStringBuilder" and "java.lang.StringBuffer" in this case), and return the entry that gives you a public type (or may find some better met

[2015-03-17 11:41] zonyitoo commented on #123
@brunocdsoliveira This problem not only happens on `StringBuffer`, but also on `StringBuilder`. And I don't think they are alone.

The return type of `StringBuilder.append` may be `java.lang.Appendable`, which is public.

[2015-03-17 11:48] zonyitoo commented on #123
Also, because of #113 , it becomes a little bit hard to use these APIs, because

[code]

[2015-03-17 11:53] zonyitoo commented on #125
Please try the following code snippet

[code]

Compiler should report

[code]

[2015-03-17 11:54] bixuanzju commented on #125
Noted that. Seems type server doesn't know `char[]` and `String` can be used interchangeably.

[2015-03-17 12:05] brunocdsoliveira commented on #123
@zonyitoo I understand that, but you haven't answered my question.

[2015-03-17 12:06] bixuanzju commented on #123
@zonyitoo @brunocdsoliveira I fixed that. Need to check if the returned type is public

[2015-03-17 12:09] brunocdsoliveira commented on #123
@zonyitoo As I mentioned in #113 I think you can get around the issue of losing the builder by explicitly putting parenthesis in the expression.

[2015-03-17 12:14] zonyitoo commented on #123
@brunocdsoliveira Sorry, Dr. Oliveira. Yes, query will return more than one results. After doing some searching on the web, it seems that this problem lasted about a decade. But still not sure that the problem in JDK is related to this problem.

[2015-03-17 12:15] bixuanzju commented on #123
@zonyitoo Is the new commit fix for you?

[2015-03-17 12:18] zonyitoo commented on #123
@bixuanzju Yes, it works for `StringBuilder`. But I think it is just a temporary workaround.

[2015-03-17 12:20] bixuanzju commented on #123
@zonyitoo Maybe. But that's on JDK. If the return types for the same argument type is more than one and are all public, how can we be sure which one we wants?

[2015-03-17 12:25] zonyitoo commented on #123
@bixuanzju How about adding a new feature to embed Java code directly into the generated Java file?

Such as

[code]

This feature also enables the possibility of constructing generic Java types. Just for brainstorming ;)

[2015-03-17 12:29] bixuanzju commented on #123
That's interesting. Create a feature request and let's close this issue unless we find another counterexample.

[2015-03-17 12:30] zonyitoo commented on #123
@bixuanzju I have already found another one for you, the `StringBuilder` (not `StringBuffer`). ;)

[2015-03-17 12:38] zonyitoo opened #126 "Add feature for embedding Java code"
Just for brainstorming ;)

[code]

This feature also enables the possibility to support generic Java types.

[2015-03-17 13:01] bixuanzju commented on #123
@zonyitoo That's so confusing indeed!

@brunocdsoliveira Does Java allow overloading on functions's return type?

[2015-03-17 13:07] brunocdsoliveira commented on #123
@bixuanzju no it doesn't. So I am not sure if it is a bug, or maybe some JVM (not Java) feature.

[2015-03-17 13:26] zonyitoo commented on #123
@bixuanzju @brunocdsoliveira It may be a Java feature, check this link: https://today.java.net/pub/a/today/2008/07/31/return-type-based-method-overloading.html

[2015-03-17 13:44] zonyitoo commented on #123
I think the two versions of `append`s comes from overriding, in the other word, the one that returns `java.lang.AbstractStringBuilder` is defined in `AbstractStringBuilder`. `StringBuffer` extends `AbstractStringBuilder` and override this function, which makes it returns `java.lang.StringBuffer`.

It is possible to call parent's methods by `super` in children's override methods.

[2015-03-17 13:44] bixuanzju commented on #123
@zonyitoo @brunocdsoliveira StackOverflow is awesome!

http://stackoverflow.com/questions/29100438/reflection-api-give-overloading-on-functions-return-type/29100581#29100581

[2015-03-17 13:47] zonyitoo commented on #123
I think a possible way to solve this is to filter those methods that have been overridden (including Interfaces).

[2015-03-17 13:48] zonyitoo commented on #123
@bixuanzju Great!

[2015-03-17 14:52] bixuanzju commented on #123
@zonyitoo Final attack! Have a try

[2015-03-17 14:56] zonyitoo commented on #123
@bixuanzju Excellent! Works very well!

[2015-03-17 14:56] #123 closed

[2015-03-17 16:36] zonyitoo opened #127 "Should map `==` to `.equals` method call"
[code]

This program displays `false` because it actually use `==` in Java, which is not going to test the equality of this two objects but just test whether they are the same object.

[2015-03-17 16:43] bixuanzju commented on #127
In the future, when unboxing is finished, `Int` in `intEqual` would be mapped to Java primitive `int`, and we can only use `==` to compare.

@tomtau What do you think?

[2015-03-17 16:45] bixuanzju commented on #113
@zhiyuanshi What's the status of this?

[2015-03-17 16:50] tomtau commented on #127
it'll be mapped to long, but the rest of the story is the same for primitive types

[2015-03-17 16:53] zhiyuanshi commented on #113
Too busy to work on this. To resolve this issue, we might better move to a declaration language.

Now, the parser is correct.

[code]

can only be parsed as:

[code]

And sequence has to be explicitly put inside curly braces:

[code]

So an easier workaround is:

[code]

[2015-03-17 17:00] zhiyuanshi commented on #113
To solve this elegantly once and for all might not a small issue. In order to move towards a declaration language, we need corporation with the backend. Some design questions include:
1. How should a program with only `let`/`type` declarations (essentially becoming a library) be compiled?
2. Is `let` strict or lazy?

If `let` is strict, entrance such as `main` function will not be necessary. Besid

[2015-03-18 02:49] bixuanzju commented on #127
@zonyitoo For now, I think you have to explicitly call `.equlas` on the object. We will leave this open for future work.

[2015-03-18 02:52] tomtau commented on #127
will disappear with https://github.com/hkuplg/fcore/issues/30

[2015-03-18 02:52] #127 closed

[2015-03-18 02:58] tomtau opened #128 ""Supernaive" compilation option"
Currently, even the naive option still performs source-level optimizations with partial evaluation... mainly for development purposes (as a sanity check), it would be good to generate and test completely unoptimized code.

[2015-03-18 03:01] bixuanzju commented on #128
I don't understand. Could you give a simple example of completely unoptimized code?

[2015-03-18 03:04] tomtau commented on #128
((x : Int) -> x) (1+1)

peval would optimize away the id lambda and translate it as:
(1+1)

[2015-03-18 03:09] bixuanzju commented on #128
I see, that's mainly for reversing the effects of simplify (my seminar topic last week :)... I can disable that in the "Supernaive" option.

[2015-03-18 03:13] bixuanzju commented on #96
Hi George, what's the status?

[2015-03-19 02:41] EmmaBYPeng commented on #65
@zonyitoo Hi, since we decided that our current aim is not to have a complex module system but one with basic functionality, C-like include is implemented for including files, also namespace is supported. Examples:
DataM.sf:

[code]

M5.sf:

[code]

M4.sf

[code]

Use `f2j -r DataM.sf` to directly run the file.

[2015-03-19 02:59] bixuanzju commented on #65
@EmmaBYPeng That's cool, well done!

BTW, when defining functions in a module, we need to wrap them in `module name { ... }`, right? But writing datatype definitions requires writing namespace for each one (like in `M5.sf`). This is kinda inconsistent. Can it be improved?

[2015-03-19 03:03] EmmaBYPeng commented on #65
@bixuanzju, that's right. It's because `module name {...}` will be desugared to a record so that we can access its field by M.f, while datatype definitions are just copied and pasted into the source file (actually in DataMc.sf), and M.T will become M_T. But that's indeed a problem, I'll see what I can do!

[2015-03-19 05:19] zonyitoo commented on #65
@EmmaBYPeng Awesome, I will try it later!!

[2015-03-19 06:49] bixuanzju commented on #79
Investigate how to gracefully quit JVM

[2015-03-19 07:07] xnning commented on #65
@brunocdsoliveira  About the List support, how about having some *.sf file inner our system, then things like inner List support can be removed and replaced by a List.sf file where List datatype is defined with some utilities. User can `include` the file if they want to use List. (works like a library or package such as Data.List in Haskell)

[2015-03-19 07:47] bixuanzju commented on #126
Won't support.  We have options:
1. support cast in f2j (promising?)
2. support restricted java generics (unbound type parameters)

[2015-03-19 07:47] bixuanzju opened #130 "Add cast in f2j"
ref #126

[2015-03-19 07:48] bixuanzju commented on #130
Reflection APIs?

[2015-03-19 07:49] zonyitoo commented on #65
@xnning I strongly agree!!! If that is allowed, then I could contribute those built-in libraries!

[2015-03-19 08:00] zonyitoo commented on #65
@EmmaBYPeng Also, if you use the mechanism that what C actually did, the compiler have to be able to solve recursive including.

Also, is it possible to provide a `use` keyword as the one in C++/Rust.

And

[code]

How about the search path? Compiler should know where could it looking for *.sf files. And will you support importing a module in folders?

[2015-03-19 08:08] zonyitoo commented on #126
@bixuanzju I think it should be a choice to support Java code via syntax like FFI.

[2015-03-19 08:10] zonyitoo commented on #79
@bixuanzju Problem still exists. (I just kill it, AGAIN!)

[2015-03-19 08:15] bixuanzju commented on #65
@zonyitoo I am going to create another issue for writing libraries. Would you be interested? Then I can assign to you.

[2015-03-19 08:17] bixuanzju opened #131 "Add prelude libraries"
Add libraries for `List`, and other convenient datatypes and related functions.

[2015-03-19 08:18] bixuanzju commented on #79
@zonyitoo Could you give detailed steps to reproduce? I will ask Emma to look into.

[2015-03-19 08:19] zonyitoo commented on #79
@bixuanzju I don't know! I fell my computer gets heat, and then I recognize it in the top of the list in top!

[2015-03-19 08:23] zonyitoo opened #132 "Build failed with the latest commit"
[code]

Compiler reports a parse error.

[2015-03-19 08:25] zonyitoo commented on #131
List should have at least three types: PolyList, LazyPolyList, ArrayList. ;)

[2015-03-19 08:27] EmmaBYPeng commented on #65
@zonyitoo I'll look more into the recursive include thing. For modules in a folder, you can write `include lib/M5` if M5.sf is in folder lib (i.e. just use the path that leads to the file).

[2015-03-19 08:36] zonyitoo commented on #65
@EmmaBYPeng How about including standard library? User will not want to specify the absolute path to the standard library. How about this
1. Compiler have a search path. It will try to find the one by iterating every folder in the search path.
2. Support absolute include, such as `include .List`, which will find the `List.sf` that located in the current directory.
3. Support import module as a fol

[2015-03-19 08:39] EmmaBYPeng commented on #65
That's a fair request. I'll look into it as well.

[2015-03-19 08:43] zonyitoo commented on #65
@EmmaBYPeng If you support this, I will suggest to use `module` as keyword instead of `include`.

[2015-03-19 08:51] zonyitoo commented on #132
Looks like compiler will "desuger"  `java.lang.StringBuilder` to `java.lang_StringBuilder`.

@EmmaBYPeng It is broken...

@bixuanzju Looks like the `.` will produce ambiguous in F2J.

[2015-03-19 08:59] zonyitoo opened #133 "Add support of block comment"
[code]

It should be easy to do.

[2015-03-19 09:10] zonyitoo opened #134 "Add support of other primitive data type"
Currently F2J only support decimal integers. Maybe we could also have other primitive numeric types in Java (Byte, Short, Long, Float, Double).

Also, the following should be supported

[code]

For enhancement, the following could also support ;)

[code]

[2015-03-19 09:43] bixuanzju commented on #126
@zonyitoo It's more complicated than it looks. Basically we need to understand whole Java type system, which is not our goal in the first place. However, as we discussed in today's seminar with Bruno, we can support casting natively, which allows you to cast  generic type to a specific type. But that needs further investigation.

[2015-03-19 09:43] #126 closed

[2015-03-19 09:45] bixuanzju commented on #133
@linusyang Hi Linus, do you want to tackle this?

[2015-03-19 09:49] bixuanzju commented on #74
see #131

[2015-03-19 09:49] #74 closed

[2015-03-19 09:56] bixuanzju opened #135 "Improve `make test2`"
Since `make test` hasn't been finished yet, we rely on `make test2`.

1. If some tests fail, should return 1
2. add summary of of successful and failed tests in the last.

Item 1 is more urgent in that travis then can kick in.

[2015-03-19 10:11] linusyang commented on #133
@bixuanzju Of course. I think this is also related to the implementation of string interpolation. I may find a solution to both of functions by using _start codes_ of alex. But nested block comment might not be supported.

[2015-03-19 10:13] bixuanzju commented on #133
@linusyang I think string interpolation can be delayed (not that important), having nested block comment is more desirable and easier.

[2015-03-19 10:14] zonyitoo commented on #133
@linusyang It is not necessary to use `{` and `}` in block comment, just find another symbol. How about `(-` and `-)`?

[2015-03-19 10:20] linusyang commented on #133
@zonyitoo All right. But I think they are equivalent in terms of implementation in the lexer.

[2015-03-19 10:24] bixuanzju commented on #133
I'd prefer the Haskell way "{- ... -}" though.

[2015-03-19 10:27] zonyitoo commented on #133
Me, too. String interpolation could use other symbols. Why string interpolation would conflict with nested comments?

[2015-03-19 10:29] linusyang commented on #133
@zonyitoo I didn't say that. I mean _nested_ block comments might be a problem.

[2015-03-19 10:48] bixuanzju commented on #85
@zhiyuanshi George, can we have both `let e in e` and `let e; e`, cause `let e in e` is very handy for writing local definitions, whereas using `let e; e` you have to add brackets.

[2015-03-19 10:57] bixuanzju commented on #128
@tomtau There's one thing, If I remove `peval` part, then the generated code will have superfluous identity functions (because of `simplify` you know). So

[code]

would actually become

[code]

Do you consider that completely unoptimized code?

[2015-03-19 11:30] bixuanzju commented on #125
@zonyitoo Does that fix for you?

[2015-03-19 11:33] zonyitoo commented on #125
@bixuanzju Yes, it fixed.

[2015-03-19 11:33] #125 closed

[2015-03-19 12:12] zonyitoo opened #136 "Handling Java exceptions"
There is no way to handle/raise exception in F2J, so I cannot even read a file.

Also for #108 .

[2015-03-19 13:27] EmmaBYPeng commented on #132
Should be working now.

[2015-03-19 13:42] brunocdsoliveira commented on #108
Perhaps we need an easy way to add primitives into the compiler, including error and tracing features. Maybe @bixuanzju can think a bit about this.

[2015-03-19 15:05] bixuanzju commented on #132
@EmmaBYPeng Good! I'd like to ask how to run `dataM.sf` file in example directory?

[2015-03-19 15:05] #132 closed

[2015-03-19 15:08] bixuanzju commented on #135
@EmmaBYPeng Hi Emma, could you prioritise this task? Finish item 1 should be ok for now.

[2015-03-19 16:07] #133 closed

[2015-03-20 01:20] EmmaBYPeng commented on #132
@bixuanzju Simply `f2j -r dataM.sf` should work~

[2015-03-20 01:22] EmmaBYPeng commented on #135
Sure! Working on it

[2015-03-20 02:59] EmmaBYPeng commented on #135
Please the latest pull request. Item 1 finished.

[2015-03-20 03:40] #135 closed

[2015-03-20 06:14] EmmaBYPeng commented on #132
@bixuanzju Umm but it needs commit [a411e63](https://github.com/hkuplg/fcore/commit/a411e6ce09f66a33aee03a8e4b7af1e51cb33caf) to work

[2015-03-20 06:16] bixuanzju commented on #132
@EmmaBYPeng  I see, I will revert that change

[2015-03-20 18:46] zonyitoo commented on #90
@wxzh There still has many situation that the compiler won't report line:column when type mismatch.

It's hard for me to make a minimal test case for you, but what I just do is to modify the type parameters of a Algebraic Data Type. I count on the compiler to find those mismatching on functions for me, but seems it doesn't work.

[2015-03-20 18:49] zonyitoo commented on #90
Why I unassigned @wxzh ? I haven't touched anything!

One situation, say I have a function

[code]

and I also have a type/data

[code]

When I call the `fn` by `fn[NewType]  xxx`, then compiler may reports something like this

[code]

without line:column

[2015-03-20 18:55] zonyitoo opened #144 "Failed to clean *.class because of "argument list too long""
There are too many `*.class` files was generated (over 2600 in my project), so the shell will complain about `argument list too long: rm`.

This should be fixed after module system was announced.

[2015-03-20 18:58] zonyitoo commented on #144
One workaround is

[code]

[2015-03-20 23:41] zhiyuanshi opened #145 "Parsing and typechecking floating-point numbers"

[2015-03-21 03:23] zonyitoo commented on #145
r: #134

[2015-03-21 03:33] zhiyuanshi commented on #145
Duplicate issue

[2015-03-21 03:33] #145 closed

[2015-03-21 04:09] wxzh commented on #90
@zonyitoo This is because we do not trace the location of type for now as listed in possible improvement 1. It is possible to give a more precise location information about type but this will influence a lot of existed code. I am not sure whether to modify or not.

For kind mismatch, I think reporting the type name that causes the error can help a little bit. I'll change it.

[2015-03-21 04:50] zonyitoo commented on #90
@wxzh alright. So I cannot count on the compiler to help me find out which one should be modified. Ah ...

[2015-03-21 04:52] zonyitoo commented on #90
Also, there still have some situations of type mismatch that the compiler won't report the location of. I cannot reproduce it now because that would cause a huge mess of my code (over 1000 lines).

[2015-03-21 05:22] wxzh commented on #90
@zonyitoo The only thing the compiler can tell you is that the two types' kinds are different. _You_ should decide which one should be modified.

[2015-03-21 05:43] wxzh commented on #90
@zonyitoo Check whether b95a307 provides the information you want

[2015-03-21 06:49] zonyitoo commented on #90
@wxzh Seems nothing changed, still report kind mismatch without location.

[2015-03-21 06:53] wxzh commented on #90
@zonyitoo I know. What I added for _kind_ mismatch is printing the ill-kinded type. For now, all _type_ mismatches should have location and ill-typed expression.

[2015-03-21 07:02] zonyitoo commented on #90
@wxzh I still get this output

[code]

[2015-03-21 07:05] wxzh commented on #90
@zonyitoo My pull request has not been merged yet ..

[2015-03-21 07:28] bixuanzju commented on #144
ref. #65

[2015-03-21 07:28] #144 closed

[2015-03-21 07:51] #85 closed

[2015-03-21 07:57] bixuanzju commented on #90
@zonyitoo It's merged, have a try!

[2015-03-21 08:05] bixuanzju commented on #95
ref. #96

[2015-03-21 08:05] #95 closed

[2015-03-21 08:05] zonyitoo commented on #90
@wxzh @bixuanzju Helpful for small program, but when I try to delete one kind param in 1000 line, then I won't be able to find it, even I know what exactly the kind mismatch is...

[2015-03-21 13:28] #78 closed

[2015-03-21 15:22] zonyitoo opened #149 "Impossible to define recursive data type"
[code]

Compiler will complain about

[code]

Also, the **TypeServer** will hang in the process list !!! r: #79

[2015-03-21 15:31] bixuanzju commented on #149
always check https://github.com/hkuplg/fcore/blob/develop/doc/cheatsheet.md

[2015-03-21 15:33] zonyitoo commented on #149
@bixuanzju I see!!!

[2015-03-21 15:33] #149 closed

[2015-03-22 06:43] tomtau commented on #128
It would be ideal if it could still be:
((x : Int) -> x) (1+1)

But with extra identity functions, it's fine - i.e. it should still work.

[2015-03-23 10:23] linusyang commented on #134
@zonyitoo To support other primitive types, the front-end, backend and type-checker all need to be modified. Maybe sub-typing is also required to express the relationship between numbers. But I think @tomtau is now reconstructing and polishing the backend. Maybe we can work on this function after merging the new backend?

By the way, If you really need to use floating point numbers, I have made a

[2015-03-23 10:30] bixuanzju commented on #134
@linusyang Cool!

[2015-03-23 11:13] zonyitoo commented on #134
@linusyang It's not that urgent. Since I am writing a parser for F2J, if F2J doesn't support floating point number, then I won't support floating point number either. (Maybe the problem is how to distinguish between `1.2` and `1.toString()`?)

I think merging the new backend may be more useful to me, because when the lines of code reach 2000+, the name of `*.class` files may be too long (as I said

[2015-03-24 08:47] zonyitoo commented on #40
@lihuanglx Should this situation be allowed in F2J?

[code]

Also, I cannot use the constructor of data in infixop.

[2015-03-24 08:50] zhiyuanshi commented on #40
@zonyitoo As to the first issue, I don't think so.

[2015-03-24 08:50] zonyitoo commented on #40
@zhiyuanshi Why? Seems Haskell supports that.

[2015-03-24 08:51] bixuanzju commented on #40
@zonyitoo You can't define a datatype like this, you have two constructors, both named `Text`

[2015-03-24 08:52] zonyitoo commented on #40
@bixuanzju @zhiyuanshi Ahhhh, alright, that's a bad example...

[2015-03-24 08:55] bixuanzju commented on #40
@zonyitoo Data constructors can't be used in infixop, that's true

[2015-03-24 08:59] zonyitoo commented on #40
I think I should invite @Demonsu to demonstrate the problem. I don't know the detail of his problem.

[2015-03-24 09:19] wxzh commented on #40
@zonyitoo  Do you mean that you want something like "1 `Cons` Nil "? It should be valid. I think there is a missing case in the parser for it. @lihuanglx

[2015-03-24 09:25] zonyitoo commented on #40
@wxzh Humph.. yes, this case should be valid. But should this case be valid?

[code]

[2015-03-24 09:29] wxzh commented on #40
@zonyitoo Yes, you can do this in Haskell. But why do you want to define it in this way? I don't see any   benefits it brings.

[2015-03-24 09:33] zonyitoo commented on #40
@wxzh I don't know, is not me... I didn't use that in F2J, but I just curious about whether it should be included in F2J.

[2015-03-24 09:34] xiafan-su commented on #40
Sorry guys. Yesterday, I was not sure that my pretty printer lib can be implemented without infix constructors. Then I mentioned it with Elton. It seems can be replaced by prefix. And I just finish it in f2j.

[2015-03-24 09:40] wxzh commented on #40
@Demonsu It does not matter. You help us to find a bug in the Parser :). For now, you should always define functions and constructors in prefix annotation, but you can use them in infix annotation (after @lihuanglx fixes it).

[2015-03-28 13:13] zhiyuanshi commented on #136
Any one working on this?

[2015-03-28 13:31] bixuanzju commented on #136
@zhiyuanshi I think no one

[2015-03-28 13:45] zhiyuanshi commented on #136
@zonyitoo Could you provide a minimal program that exhibits the issue?
@bixuanzju I assign this to myself now. After I've sorted out the frontend, I'll reassign the backend part to you.

[2015-03-28 13:46] bixuanzju commented on #136
@zhiyuanshi sure!

[2015-03-28 13:51] zonyitoo commented on #136
first example, the simplest,

[code]

[2015-03-28 13:54] zhiyuanshi commented on #136
First we handle Java exceptions and then make our own as Java exceptions. :) So what I need is a F2J program that uses Java file I/O and the resulting Java program should not be able to be compiled by `javac` due to the fact that exception is not caught.

[2015-03-28 13:59] zonyitoo commented on #136
@zhiyuanshi So you want a program that cannot be complied? That is easy ;)

[code]

[2015-03-28 14:07] zhiyuanshi commented on #136
@zonyitoo Oh great. I like it.

[2015-03-30 12:31] linusyang commented on #124
MinGHC could be a handy GHC compiler platform for Windows users. No need to install the large Haskell platform.
https://github.com/fpco/minghc
https://www.fpcomplete.com/blog/2015/03/minghc-ghc-7-10

[2015-03-30 12:48] bixuanzju commented on #124
Installing Haskell platform isn't hard, the problem is some libraries can't be installed on Windows easily. I remember last time I tried, I couldn't get `network` package right

[2015-03-30 12:50] linusyang commented on #124
@bixuanzju That's exactly why I recommend [this one](https://www.fpcomplete.com/blog/2015/03/minghc-ghc-7-10):

[2015-03-30 12:52] bixuanzju commented on #124
@linusyang trying now, haha

[2015-03-30 15:08] zonyitoo opened #153 "Class name too long error"
Once the lines of code hits 1000+, the compiler will generate inner classes which makes `javac` generates the file name of `.class` too long.

[2015-03-30 15:13] tomtau commented on #153
Can be possibly solved with: http://en.wikipedia.org/wiki/Lambda_lifting

[2015-03-31 02:39] bixuanzju commented on #153
Inner classes are generated because of multiple argument functions (one argument one inner class as per the formalization), I don't think lambda lifting can help much.

[2015-03-31 03:27] tomtau commented on #153
there would the same number of inner classes, but their names would be shorter after lifting, no? may not work with applyopt though

[2015-03-31 04:41] zonyitoo commented on #153
@tomtau I don't think lambda lifting will solve this problem.

In practice, I saw dozens of `Let`s nested into other `Let`s, and also some `data`s nested in `Let`s, which should be an error in generating module. Because no one will write so much nested `let`s in one `let`. And I am sure that I haven't write any `data`s nested in `let`s.

[2015-03-31 04:45] zonyitoo commented on #153
@bixuanzju Also, if inner classes will be generated because of multiple argument functions, then why it generates a inner class in level 10+?

For example:

[code]

[2015-03-31 07:11] bixuanzju commented on #153
@zhiyuanshi A simple example:

[code]

would generate

[code]

Those long nested `Let` classes are generated because we transform all recursive functions to `LetRec` instead of `Fix` in the front-end. Could you revert that change?

[2015-03-31 08:47] zhiyuanshi commented on #153
@bixuanzju I don't think that'll solve the problem. Besides, if I revert that change, a more serious bug will arise.

[2015-03-31 10:52] bixuanzju commented on #153
@zhiyuanshi So now `Fix` constructor will never be used, right? BTW, in the backend, `LetRec` will be translated to Let classes, initially designed for mutually recursive functions. But now, self recursive function would also be wrapped into Let classes. If you insist this is needed in the front-end, I could add a transformation in the partial evaluator, that if a letrec has only one binding, chan

[2015-03-31 10:56] zhiyuanshi commented on #153
@bixuanzju I think the fix will work but won't solve the very issue once and for all. In the end, people will write very large programs with `letrec` holding a great many of bindings.

[2015-03-31 11:11] bixuanzju commented on #153
This has nothing to do with how many bindings. Nested classes are generated only for multiple argument functions (if you write a function with 10+ arguments, it would of course has 10+ nested classes, we can do nothing about that). However, the problem now is the way backend deals with `LetRec`:
- Using `Letrec` for every recursive functions:

[code]

generates

[code]

Notice `Fun2` are embedded

[2015-03-31 11:25] zonyitoo commented on #153
@bixuanzju The second one make senses!!

[2015-03-31 11:31] tomtau commented on #153
@bixuanzju looks good

@zonyitoo the names that cause you problems are generally dominated by the nested Lets?

[2015-03-31 13:20] zonyitoo commented on #153
@tomtau It seems yes. Actually I have already mentioned that in Slack with you.

I don't know much detail about the backend. If you need my co-operation, please contact me. ;)

[2015-04-01 05:48] bixuanzju commented on #153
@zonyitoo Could you try 5e3dc9d?

[2015-04-01 08:02] bixuanzju opened #155 "coercion of polyList is incorrect"
Thanks to super naive compilation, a bug in `simplify` found:
[code]
after coercion
[code]
resulting in "java.lang.ClassCastException" in the runtime.

[2015-04-01 09:26] zonyitoo commented on #153
@bixuanzju

[code]

[2015-04-01 09:29] bixuanzju commented on #153
@zonyitoo Can you give an example?

[2015-04-01 09:32] #155 closed

[2015-04-01 09:37] zonyitoo commented on #153
@bixuanzju  It is hard to give you an example. I just want to compile my parser, and it crash. I don't know where and why this problem happens.

[2015-04-01 09:38] bixuanzju commented on #153
@zonyitoo Alright! I will revert that commit, but I can't investigate any further unless you give me an example.

[2015-04-01 15:07] #128 closed

[2015-04-04 02:51] zhiyuanshi opened #160 "Decouple the adapter of Java compiler server with the logic of testing"

[2015-04-04 03:31] zhiyuanshi opened #161 "Don't translate all recursive definitions to LetRec"
In `Desugar.hs`

[2015-04-29 19:14] orionll opened #170 "Tail call elemination with curly braces does not work"
This code fails with StackOverflow:

[code]

[2015-04-30 02:37] bixuanzju commented on #170
May I ask what is your expected result? The function `f` is sort of ill-formed, even in Haskell, it will go to infinite loop. `f2j` is call-by-value, so StackOverflow comes no surprise for me.

[2015-04-30 02:41] zonyitoo commented on #170
@bixuanzju I think if TCE works, it should be an infinite loop instead of stack overflow.

[2015-04-30 02:45] bixuanzju commented on #170
@zonyitoo @orionll  Sure it is! Just invoke `f2j` with TCE support, like `f2j -m stack <file>`. In my machine, it does seem to run like forever

[2015-04-30 02:47] zonyitoo commented on #170
Oh, well, that's true.

[2015-04-30 06:01] orionll commented on #170
The expected result is an infinite loop. The actual behavior is StackOverflowError (even with -m stack). If you remove curly braces then it will run into an infinite loop as expected.

[2015-04-30 06:52] bixuanzju commented on #170
@orionll That's true! Quite odd ... Maybe @zhiyuanshi could look into it

[2015-04-30 07:24] bixuanzju commented on #131
@zhiyuanshi Can it be closed?

[2015-04-30 07:28] bixuanzju opened #171 "restore old style of type parameter"

[2015-04-30 07:30] bixuanzju commented on #171
Because our type parameters are curried, it makes sense to have the following:

[code]

[2015-04-30 07:34] bixuanzju opened #172 "Split the library"
Split the fcore from the front-end

[2015-04-30 08:10] bixuanzju commented on #136
What's the status now?

[2015-04-30 08:34] zonyitoo commented on #131
@bixuanzju We have module system now?

[2015-04-30 08:36] bixuanzju commented on #131
@zonyitoo no, but we have some sort of predefined library

[2015-04-30 08:38] zonyitoo commented on #131
which is defined as a token?

[2015-04-30 09:12] dynastywind opened #174 "Impossible Happened"
Hello guys. I'm writing an arithmetic expression parser but encounter a coercion error below.

![qq20150430-1 2x](https://cloud.githubusercontent.com/assets/4438782/7409702/4c0fb9be-ef5b-11e4-928c-89f2b20091e2.png)

The function I wrote is as below.

![qq20150430-2 2x](https://cloud.githubusercontent.com/assets/4438782/7409721/6bd59af2-ef5b-11e4-8ad7-2f08248f2980.png)

The related info is

![qq201

[2015-04-30 09:13] zonyitoo commented on #174
I think it would be better that you paste your code as text instead of images, which are impossible to test.

[2015-04-30 09:20] dynastywind commented on #174
I've committed my code here https://github.com/dynastywind/F2JParser/blob/master/parser.sf

It cannot compile due to the error above.

[2015-04-30 09:48] zonyitoo commented on #174
Can you recognized the de-sugared code in your first image? Which line in your original source code?

Can you make the problem more precisely?

[2015-04-30 09:49] bixuanzju commented on #131
@zonyitoo have a look at lib/predef/

[2015-04-30 10:01] zonyitoo commented on #131
@bixuanzju How did they work? How to include that in my code?

[2015-04-30 10:37] bixuanzju commented on #131
As the name suggests, it's a prelude library as in Haskell, so you can't possibly extend it in client code I guess. Better ask @zhiyuanshi

[2015-04-30 10:43] dynastywind commented on #174
It seems that the problem occurs from where "<?@" starts. I don't know what is coercion error is and why it will happen here. I've checked the type matchings but don't find any problem.

[2015-04-30 11:30] zonyitoo commented on #171
That looks odd....

[2015-04-30 12:37] bixuanzju commented on #171
The point is, writing function like

[code]

would give the impression that `fun` cannot be curried on type parameters `A` and `B`, as in Scala. But `fun[Int]` is actually valid in our language.

Ideally we would not want to have brackets for type applications either, but that would cause problems for parsing.

[2015-04-30 13:28] zhiyuanshi commented on #131
@zonyitoo You don't need to do anything. The definitions there, which are part of the compiler, are already in scope for programs you write. The current implementation is just pasting Predef before your code.

[2015-04-30 13:30] zhiyuanshi commented on #136
@xnning Wondering if you're handling this for us at the moment?

[2015-04-30 13:43] xnning commented on #136
@zhiyuanshi Nope. Pull request #168  provides a `error` operation (needed to be polished), which is more related to #108 .

[2015-04-30 14:33] zonyitoo commented on #131
@zhiyuanshi Oh, well, that means the prelude library cannot have dependencies between each others.

[2015-04-30 14:37] zhiyuanshi commented on #131
They can, as Predef can consist of multiple files. But of course, circular dependency is not allowed.

[2015-04-30 14:50] zonyitoo commented on #131
Consider I have preluded files named `list.sf` and `listops.sf`, those functions in `listops.sf` are depend on the list definitions in `list.sf`. But now you don't have things to tell the compiler that `listops.sf` is depending on `list.sf`, so if you paste `listops.sf` before `list.sf`, that won't compile.

Or you have a better idea to solve this dependencies problem without explicit declaration

[2015-04-30 17:50] zhiyuanshi commented on #131
@zonyitoo Right now I think the order of sticking them together is hardcoded in the compiler. So unless you change the source code in Haskell, you have no control of the actual order.

[2015-04-30 18:01] zhiyuanshi commented on #171
@bixuanzju Yep. I'm aware of this issue but would put it on low priority.

[2015-04-30 22:29] bixuanzju commented on #171
@zhiyuanshi well, after the compiler meeting yesterday, we agreed to make that change ASAP. Would that involve lots work?

[2015-05-01 15:41] zhiyuanshi commented on #171
@bixuanzju Not very complicated. I will raise priority as folks demand it.

[2015-05-01 17:05] zhiyuanshi commented on #171
@bixuanzju @brunocdsoliveira Well, I noticed that the old style is still supported according to [the production](https://github.com/hkuplg/fcore/blob/develop/lib/Parser.y#L297) in parser.

[2015-05-01 17:05] #171 closed

[2015-05-02 14:54] tomtau commented on #170
@bixuanzju isn't the issue that curly braces create SeqExprs which falls under this case: https://github.com/hkuplg/fcore/blob/develop/lib/StackTransCFJava.hs#L174 ?

[2015-05-02 14:59] tomtau opened #175 "Wiki is messy and contains semi-relevant stuff"
What's the purpose of keeping it when most important information is in https://github.com/hkuplg/fcore/tree/develop/doc or readme?

Current Wiki content is a bit random and not relevant to this particular repository -- maybe we should move it to this one: https://github.com/hkuplg/hkuplg.github.io ?

[2015-05-02 15:02] tomtau commented on #172
In other words, the stuff related to the "f2j" language (i.e. described here https://github.com/hkuplg/fcore/tree/develop/doc/spec ) should be put into a different repository, referencing this one.

[2015-05-06 09:12] tomtau commented on #101
Isn't this done? @lihuanglx @zhiyuanshi ?

[2015-05-06 09:15] tomtau commented on #130
Isn't this already possible using Reflection API (JMethod)?

[2015-05-06 09:17] tomtau commented on #64
Isn't this duplicate of https://github.com/hkuplg/fcore/issues/172 ?

[2015-05-06 14:02] zhiyuanshi commented on #172
Duplicate of Issue #64.

[2015-05-06 14:02] #172 closed

[2015-05-07 02:50] dynastywind opened #178 "Bug found in PolyList"
Errors when executing the below codes.
[code]

[code]
Please check.

[2015-05-07 03:13] xnning commented on #178
Have figured out why.
Be working.

[2015-05-07 06:47] zhiyuanshi commented on #178
@xnning Thanks Ningning! :smiley_cat:

[2015-05-07 06:51] #34 closed

[2015-05-07 06:51] tomtau commented on #34
done in new-unboxing branch

[2015-05-07 06:52] tomtau commented on #34
done in the new-unboxing branch

[2015-05-11 07:01] zhiyuanshi opened #180 "Parse error"
See discussions in the #compiler channel Slack.

[2015-05-11 09:16] tomtau commented on #180
discussions on Slack are space limited + hard to search + only accessible to hkuplg + the description is quite vague (6 months later, I won't know what discussions it was referring to) - would be good if you could copy paste the relevant things

[2015-05-11 09:17] zhiyuanshi commented on #180
@tomtau This issue turned out to be a non-issue.

[2015-05-11 09:17] #180 closed

[2015-05-12 09:10] xnning commented on #178
@dynastywind  Thank you for reporting the bug.
This issue will be delayed until we have a module system.
Currently, please make the final type be a non-datatype.

[2015-05-21 05:48] zhiyuanshi opened #183 "Shorten name of generated class files"
**Motivation**—users complained that large files cannot compile.
**Proposal**—For example, using `F` instead of `Fun` and `L` instead of `Let`?

[2015-05-21 05:48] zonyitoo commented on #183
Ref #153

[2015-05-21 07:20] zonyitoo commented on #178
I am curious that why my code works? I use this `PolyList`-like data structure every where ...

Minimal test case

[code]

[2015-05-21 07:40] zonyitoo commented on #178
Temporary work around @dynastywind , just don't make the final type be a non-datatype, like this...

[code]

[2015-05-21 07:59] xnning commented on #178
@zonyitoo in latest code, both two should work. Because some predefined files are removed.
But this problem still exists.

[2015-05-29 06:27] bixuanzju commented on #183
Ref 1b99bf8. I think this issue can be closed. More elegant way is open to discussion.

[2015-05-29 06:27] #183 closed

[2015-06-02 04:22] bixuanzju commented on #153
Ref 1b99bf8 as a temporary solution.

[2015-06-02 04:23] bixuanzju commented on #178
@xnning What is the status?

[2015-06-02 04:32] #170 closed

[2015-06-02 04:57] xnning commented on #178
@bixuanzju  This issue will be delayed until we have a module system.

[2015-06-03 16:45] hy-zhang opened #189 "BaseTransCFJava.trans: expected tuple type"
[code]
When I implemented the merge algebra by hand in source language, f2j complained that:
[code]
Seems that it only happens when both "ExpAlg" and "Exp" are record types. Not sure though.

[2015-06-04 07:15] #40 closed

[2015-06-04 07:16] bixuanzju opened #190 "fresh name generation"

[2015-06-04 07:28] bixuanzju opened #191 "Use Stackage"
https://www.stackage.org/

[2015-06-04 07:31] #130 closed

[2015-06-04 07:52] bixuanzju opened #192 "Investigate Proguard for additional backend optimiztion"

[2015-06-04 07:59] bixuanzju commented on #65
Implement a simple module system (allowing declarations in the language)

[2015-06-04 14:47] bixuanzju commented on #191
Ref c5d5fb9b

[2015-06-04 14:47] #191 closed

[2015-06-22 08:14] brunocdsoliveira commented on #190
why is this issue (which is a blocker!) not solved yet ... It seems to me that adding fresh name generation should be something that takes 5 minutes to fix. Or is there something that I am missing?

[2015-06-22 09:12] bixuanzju commented on #190
@zhiyuanshi Are you working on that?

[2015-06-23 01:10] zhiyuanshi commented on #190
I'm working on that.

[2015-08-03 01:13] bixuanzju commented on #189
`dumpsimplecore` of

[code]

gives

[code]

What is that underscore? We really need to polish pretty printer, otherwise it's hard for me to debug in backend.

[2015-08-19 12:27] bixuanzju commented on #161
`LetRec` is a generalisation of `Fix`, so in principle, translating all recursive definitions to `LetRec` is OK. I have finished a variation of `LetRec` to Java translation, which avoids the nasty nested inner classes problem. Patches are on the way.

[2015-08-19 12:31] bixuanzju commented on #124
The [stack](https://github.com/commercialhaskell/stack) tool solves problem of installing on Windows. When we switch to using stack, this could be closed.

[2015-08-19 13:44] bixuanzju commented on #175
I closed Wiki. Information of our group goes into our offiical group page

[2015-08-19 13:44] #175 closed

[2015-08-19 14:16] bixuanzju commented on #161
Say we have the following program:

[code]

The old translation of `LetRec` would  create a class (`L1`) that wraps the two Closure classes `Even` and `Odd` and later expression (`Id` class and the final expression). The consequence is that, if later expressions contain `letrec`, then we end up in multiple nested inner classes:

[code]

The new translation basically lift later expression out of th

[2015-08-19 14:21] bixuanzju commented on #32
I've done this in my own fork https://github.com/bixuanzju/fcore

[2015-08-19 14:22] zhiyuanshi commented on #32
Great. Send a pull request?

[2015-08-19 14:28] bixuanzju commented on #32
Not yet (as something big is undergoing). One thing is that I use `stack` for everything, Tomas seems reluctant to change.

[2015-08-19 14:33] bixuanzju commented on #131
A basic module system that supports separate compilation is almost done. Once we finish declaring datatypes inside a module, adding prelude should be simple.

[2015-08-19 14:34] brunocdsoliveira commented on #161
One reason why we still had standalone fixpoints was performance. Translating a single-recursive function as a LetRec was not as efficient as translating a fixpoint.

[2015-08-19 14:40] bixuanzju commented on #161
Are you referring to the performance of compiling a program or running the generated Jaca code?

[2015-08-19 14:43] brunocdsoliveira commented on #161
Running the generated code.

[2015-08-19 15:33] bixuanzju commented on #161
yes, the only performance penalty is coming from having one more object creation, illustrated as below:
- translated as `LetRec`

[code]
- translated as `Fix`

[code]

Anyway, i will leave `Fix` around.

[2015-08-20 15:22] tomtau commented on #32
I'm fine with `stack` and used it for one small project :) I only said that in my experience, it didn't work well with `ghc-mod`, and `stack-ide` hasn't made it to many editors (outside Emacs) yet.

[2015-08-20 15:31] bixuanzju commented on #32
Have you tried https://github.com/kazu-yamamoto/ghc-mod/commit/b25dbc2416a4b67ab3c9ac543a3255e6bc896033?

[2015-08-20 17:09] tomtau commented on #192
I made an artificial example:

[code]

It's the pretty printer example with extra long running method calls (and its value isn't used). ProGuard has some optimizations for removing method calls (from JDK classes) without side-effects if their values aren't used.

[code]

But it's an artificial example -- it'll be interesting to use ProGuard on some larger code that was written in SF -- I guess som

[2015-08-20 17:14] tomtau commented on #32
No, but will try.

[2015-08-22 14:10] bixuanzju commented on #32
See branch 7.10

[2015-08-22 14:10] #32 closed

[2015-08-22 14:11] bixuanzju commented on #190
@zhiyuanshi What is the status?

[2015-08-22 14:14] bixuanzju commented on #153
Ref d1ad7e03ce367fe61506b4b271f308ba82f276e2

[2015-08-22 14:14] #153 closed

[2015-08-22 14:16] bixuanzju opened #201 "Investigating declaring datatypes in a module and how to import them"

[2015-08-22 14:17] bixuanzju commented on #131
prelude is added. declaring datatypes in a module is another issue #201

[2015-08-22 14:17] #131 closed

[2015-08-22 14:20] bixuanzju commented on #90
Do you think it can be closed?

[2015-08-22 14:27] bixuanzju commented on #79
The only entry point to start a Java process is through `withTypeServer` function, I checked each of its occurrences, no `error` calls found.

[2015-08-22 14:28] bixuanzju commented on #65
Most done, in favour of #201

[2015-08-22 14:28] #65 closed

[2015-08-22 14:33] bixuanzju commented on #28
@hy-zhang Is there a better one in plan, or we stick to the current one?

[2015-08-27 18:22] zhiyuanshi commented on #79
If you try a couple of times `f2j` on program with syntax error, you'll start to hear the CPU fan working hard.

[2015-08-28 00:28] zhiyuanshi commented on #90
Nope. Still, some nodes in the AST are not annotated with location. The task is two-fold:
1. Annotate all AST nodes with location;
2. Report location in all error messages.

[2015-08-28 23:03] zhiyuanshi opened #209 "Merge the 'develop' branch into 'ghc-7.10'"

[2015-08-30 01:48] bixuanzju commented on #209
#210

[2015-08-30 02:48] bixuanzju commented on #79
@zhiyuanshi I tried many times on a ill-formed program, no dangling java process found. Can you confirm in the latest coed?

[2015-08-30 16:24] zhiyuanshi commented on #209
Thanks. But I'm afraid that you misunderstood the direction of the merge...

[2015-08-30 16:56] bixuanzju commented on #209
@zhiyuanshi What's the matter? I first merged develop into ghc-7.10, resolved the conflicts, then merged it back to develop in order that you can see clearly what have been changed based on your refactoring.

[2015-08-30 16:59] bixuanzju commented on #209
Ref #212

[2015-08-30 17:20] zhiyuanshi commented on #209
Ok, maybe using stack on develop is too early? I planned to work on ghc-7.10 with you.

[2015-08-30 17:20] #209 closed

[2015-08-31 06:47] zhiyuanshi opened #213 "Move towards a declaration-based language and support main"

[2015-10-08 11:32] #124 closed

[2015-10-24 02:12] bixuanzju opened #221 "Reorganize source directory"
We basically put everything inside one directory `lib/`, which is messy, and also not good for future hacking. Consider reorganizing source files. Look at the directory structure of several complier-related projects:

+ [elm](https://github.com/elm-lang/elm-compiler)
+ [purescript](https://github.com/purescript/purescript)
+ [fay](https://github.com/faylang/fay)

[2015-11-30 06:48] mgajda opened #225 "Consider adding coverage tests..."
https://coveralls.io/
Just need to submit reformatted profile tests.

[2015-11-30 13:59] tomtau opened #226 "Blackholing"
Investigate this technique from GHC: https://ghc.haskell.org/trac/ghc/wiki/Commentary/Rts/Storage/HeapObjects#Blackholes

A potential gain could be in long monadic bindings where some vars aren't used later on.

[2015-11-30 14:09] tomtau opened #227 "Use java-bridge for JVM queries?"
https://hackage.haskell.org/package/java-bridge-0.20130606.3/docs/Foreign-Java-Bindings.html

[2015-12-01 09:36] zhiyuanshi opened #228 "`make test` works locally but fails on Travis CI"

[2015-12-07 00:43] zhiyuanshi commented on #228
Resolved as b83948abb748ab9be86b0b2b723c8a9e2bfa2c89

[2015-12-07 00:43] #228 closed

[2015-12-07 01:44] zhiyuanshi opened #229 "Review of module system and separate compilation"
Points to consider:
- Consistency of compilation methods between modules